.version.about /* version checker */
{
	color: #00001D;
	background-color: #69F876;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 732px;
	min-height: 292.6234937238492px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 198px 513.3765062761508px 30px;
}

#u3263-4
{
	z-index: 2;
	width: 197px;
	min-height: 35px;
}

#u3263-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 197px;
	margin: 0px;
}

#pu3266-4
{
	width: 0.01px;
	margin-top: 20px;
}

#u3266-4
{
	z-index: 14;
	width: 86px;
	min-height: 22px;
	margin-right: -10000px;
}

#u3266-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3266-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3269-4
{
	z-index: 27;
	width: 89px;
	min-height: 21px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 170px;
}

#ppu3264-4
{
	width: 0.01px;
	margin-top: 9px;
}

#pu3264-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u3264-4
{
	z-index: 6;
	width: 86px;
	min-height: 22px;
}

#u3264-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 0px;
}

#u3264-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 0px;
}

#u3267-4
{
	z-index: 18;
	width: 86px;
	min-height: 22px;
	margin-top: 20px;
}

#u3267-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 20px 0px 0px;
}

#u3265-4
{
	z-index: 10;
	width: 86px;
	min-height: 22px;
	margin-top: 20px;
}

#u3267-4.MuseLinkActive,#u3265-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 20px 0px 0px;
}

#u3265-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 20px 0px 0px;
}

#u3289
{
	z-index: 22;
	width: 79px;
	background-color: #000000;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	left: 169px;
}

#u3283
{
	z-index: 35;
	width: 79px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2116-4
{
	z-index: 23;
	width: 473px;
	min-height: 97px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 259px;
}

#u3276-4
{
	z-index: 31;
	width: 523px;
	min-height: 33px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 169px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u3290-6
{
	z-index: 37;
	width: 155px;
	min-height: 32px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 169px;
	margin-top: 28px;
	position: relative;
}

#u3290-2
{
	font-size: 12px;
	line-height: 14px;
}

#u3290-4
{
	font-size: 10px;
	line-height: 12px;
	font-style: italic;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

