.version.and_time /* version checker */
{
	color: #000001;
	background-color: #8298EB;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 675px;
	min-height: 806px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-left: 30px;
	padding-top: 50px;
	padding-right: 255px;
	margin-left: auto;
	margin-right: auto;
}

#u3263-4
{
	z-index: 2;
	width: 197px;
	min-height: 35px;
}

#u3263-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 197px;
	margin: 0px;
}

#u3266-4
{
	z-index: 14;
	width: 86px;
	min-height: 22px;
	margin-top: 20px;
}

#u3266-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 20px 0px 0px;
}

#ppu3264-4
{
	width: 0.01px;
	margin-top: 15px;
}

#pu3264-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u3264-4
{
	z-index: 6;
	width: 86px;
	min-height: 22px;
}

#u3264-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 0px;
}

#u3264-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 0px;
}

#u3267-4
{
	z-index: 18;
	width: 86px;
	min-height: 22px;
	margin-top: 20px;
}

#u3266-4.MuseLinkActive,#u3267-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 20px 0px 0px;
}

#u3265-4
{
	z-index: 10;
	width: 86px;
	min-height: 22px;
	margin-top: 20px;
}

#u3267-4.MuseLinkActive,#u3265-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 20px 0px 0px;
}

#u3265-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 20px 0px 0px;
}

#u455
{
	z-index: 57;
	width: 504px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 171px;
}

#u447-5
{
	z-index: 22;
	width: 326px;
	min-height: 20px;
	background-color: transparent;
	margin-left: 171px;
	margin-top: 7px;
	position: relative;
}

#u460
{
	z-index: 59;
	width: 504px;
	background-color: transparent;
	margin-left: 171px;
	margin-top: 27px;
	position: relative;
}

#u449-5
{
	z-index: 27;
	width: 471px;
	min-height: 20px;
	background-color: transparent;
	margin-left: 171px;
	margin-top: 7px;
	position: relative;
}

#u465
{
	z-index: 61;
	width: 502px;
	min-height: 283px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 173px;
	margin-top: 27px;
	position: relative;
}

#u451-5
{
	z-index: 37;
	width: 405px;
	min-height: 20px;
	background-color: transparent;
	margin-left: 171px;
	margin-top: 8px;
	position: relative;
}

#u467
{
	z-index: 62;
	width: 502px;
	background-color: transparent;
	margin-left: 173px;
	margin-top: 40px;
	position: relative;
}

#u450-5
{
	z-index: 32;
	width: 326px;
	min-height: 20px;
	background-color: transparent;
	margin-left: 171px;
	margin-top: 6px;
	position: relative;
}

#u472
{
	z-index: 64;
	width: 504px;
	background-color: transparent;
	margin-left: 171px;
	margin-top: 28px;
	position: relative;
}

#u452-5
{
	z-index: 42;
	width: 343px;
	min-height: 20px;
	background-color: transparent;
	margin-left: 171px;
	margin-top: 9px;
	position: relative;
}

#u477
{
	z-index: 66;
	width: 504px;
	background-color: transparent;
	margin-left: 171px;
	margin-top: 25px;
	position: relative;
}

#u453-5
{
	z-index: 47;
	width: 362px;
	min-height: 20px;
	background-color: transparent;
	margin-left: 171px;
	margin-top: 8px;
	position: relative;
}

#u482
{
	z-index: 68;
	width: 504px;
	background-color: transparent;
	margin-left: 171px;
	margin-top: 26px;
	position: relative;
}

#u454-5
{
	z-index: 52;
	width: 338px;
	min-height: 20px;
	background-color: transparent;
	margin-left: 171px;
	margin-top: 8px;
	position: relative;
}

#u447-2,#u449-2,#u451-2,#u450-2,#u452-2,#u453-2,#u454-2
{
	font-size: 12px;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

