.version.apartment_no_1_4 /* version checker */
{
	color: #000016;
	background-color: #76B824;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1730px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 71px;
	margin-left: auto;
	margin-right: auto;
}

#pu803
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -37px;
	margin-left: 11px;
}

#u803
{
	z-index: 2;
	width: 258px;
	margin-right: -10000px;
}

#u803_position_content
{
	margin-bottom: -262px;
	padding-top: 73px;
}

#u804-4
{
	z-index: 3;
	width: 191px;
	min-height: 35px;
	margin-left: 12px;
}

#u1826-4
{
	z-index: 44;
	width: 168px;
	min-height: 21px;
	margin-left: 13px;
	margin-top: 140px;
}

#u1897-5
{
	z-index: 49;
	width: 183px;
	min-height: 23px;
	margin-left: 12px;
	margin-top: 16px;
}

#u1897-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 183px;
	margin: 16px 0px 0px 12px;
}

#u1897-5.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 183px;
	margin: 16px 0px 0px 12px;
}

#u2185-5
{
	z-index: 54;
	width: 183px;
	min-height: 23px;
	margin-left: 12px;
	margin-top: 8px;
}

#u2185-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 183px;
	margin: 8px 0px 0px 12px;
}

#u2186-5
{
	z-index: 59;
	width: 183px;
	min-height: 23px;
	margin-left: 12px;
	margin-top: 8px;
}

#u2185-5.MuseLinkActive,#u2186-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 183px;
	margin: 8px 0px 0px 12px;
}

#u2186-5.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 183px;
	margin: 8px 0px 0px 12px;
}

#u808-4
{
	z-index: 7;
	width: 103px;
	min-height: 21px;
	margin-left: 12px;
	margin-top: 29px;
}

#u2187-5
{
	z-index: 64;
	width: 175px;
	min-height: 23px;
	margin-left: 12px;
	margin-top: 14px;
}

#u2187-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 175px;
	margin: 14px 0px 0px 12px;
}

#u2187-5.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 175px;
	margin: 14px 0px 0px 12px;
}

#u811-5
{
	z-index: 16;
	width: 234px;
	min-height: 23px;
	margin-left: 12px;
	margin-top: 14px;
}

#u811-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 234px;
	margin: 14px 0px 0px 12px;
}

#u811-5.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 234px;
	margin: 14px 0px 0px 12px;
}

#u813-5
{
	z-index: 26;
	width: 234px;
	min-height: 21px;
	margin-left: 12px;
	margin-top: 14px;
}

#u813-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 234px;
	margin: 14px 0px 0px 12px;
}

#u813-5.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 234px;
	margin: 14px 0px 0px 12px;
}

#u809-5
{
	z-index: 11;
	width: 136px;
	min-height: 23px;
	margin-left: 12px;
	margin-top: 12px;
}

#u809-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 136px;
	margin: 12px 0px 0px 12px;
}

#u809-5.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 136px;
	margin: 12px 0px 0px 12px;
}

#u812-5
{
	z-index: 21;
	width: 168px;
	min-height: 21px;
	margin-left: 13px;
	margin-top: 14px;
}

#u812-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 168px;
	margin: 14px 0px 0px 13px;
}

#u812-5.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 168px;
	margin: 14px 0px 0px 13px;
}

#u1896
{
	z-index: 48;
	width: 113px;
	height: 6px;
	margin-left: 54px;
	margin-top: 10px;
}

#u2241-4
{
	z-index: 69;
	width: 40px;
	min-height: 22px;
	margin-left: 14px;
	margin-top: 56px;
}

#u1623-4
{
	z-index: 40;
	width: 40px;
	min-height: 22px;
	margin-left: 14px;
	margin-top: 33px;
}

#u815-4
{
	z-index: 31;
	width: 56px;
	min-height: 22px;
	margin-left: 13px;
	margin-top: 34px;
}

#u899
{
	z-index: 94;
	width: 258px;
	height: 948px;
	border-color: #000000;
	background-color: #F6F6F6;
	left: -11px;
	margin-top: 85px;
	position: relative;
}

#u1586-4
{
	z-index: 35;
	width: 119px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 108px;
	left: 51px;
}

#u1587
{
	z-index: 39;
	width: 113px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 102px;
	left: 51px;
}

#pu1888-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 60px;
	margin-left: 347px;
}

#u1888-4
{
	z-index: 95;
	width: 253px;
	min-height: 20px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 126px;
	position: relative;
}

#u1889
{
	z-index: 99;
	width: 419px;
	height: 6px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: 43px;
	margin-top: 6px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u437
{
	z-index: 75;
	width: 505px;
	background-color: transparent;
	margin-top: 26px;
	position: relative;
}

#u442-5
{
	z-index: 77;
	width: 422px;
	min-height: 17px;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
}

#u890
{
	z-index: 92;
	width: 309px;
	height: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 98px;
	margin-top: 46px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u2091
{
	z-index: 108;
	width: 505px;
	min-height: 284px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 28px;
	position: relative;
}

#u443-5
{
	z-index: 82;
	width: 392px;
	min-height: 17px;
	background-color: transparent;
	margin-top: 28px;
	position: relative;
}

#u891
{
	z-index: 93;
	width: 309px;
	height: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 98px;
	margin-top: 52px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u427
{
	z-index: 73;
	width: 505px;
	background-color: transparent;
	margin-top: 52px;
	position: relative;
}

#u444-5
{
	z-index: 87;
	width: 384px;
	min-height: 17px;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

#u2024
{
	z-index: 102;
	width: 309px;
	height: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 98px;
	margin-top: 53px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u2018
{
	z-index: 100;
	width: 505px;
	background-color: transparent;
	margin-top: 54px;
	position: relative;
}

#u2025-5
{
	z-index: 103;
	width: 396px;
	min-height: 17px;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#u442-2,#u443-2,#u444-2,#u2025-2
{
	font-size: 12px;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

