.version.apartment_no_1_4 /* version checker */
{
	color: #0000F2;
	background-color: #E22D8B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 676px;
	min-height: 1486.5234937238492px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 254px 131.47650627615076px 30px;
}

#u3263-4
{
	z-index: 2;
	width: 197px;
	min-height: 35px;
}

#u3263-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 197px;
	margin: 0px;
}

#ppu3266-4
{
	width: 0.01px;
	margin-top: 20px;
}

#pu3266-4
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u3266-4
{
	z-index: 14;
	width: 86px;
	min-height: 22px;
}

#u3266-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 0px;
}

#u3266-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 0px;
}

#u3264-4
{
	z-index: 6;
	width: 86px;
	min-height: 22px;
	margin-top: 20px;
}

#u3264-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 20px 0px 0px;
}

#u3267-4
{
	z-index: 18;
	width: 86px;
	min-height: 22px;
	margin-top: 20px;
}

#u3264-4.MuseLinkActive,#u3267-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 20px 0px 0px;
}

#u3265-4
{
	z-index: 10;
	width: 86px;
	min-height: 22px;
	margin-top: 20px;
}

#u3267-4.MuseLinkActive,#u3265-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 20px 0px 0px;
}

#u3265-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 20px 0px 0px;
}

#u437
{
	z-index: 24;
	width: 505px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 171px;
}

#u442-5
{
	z-index: 26;
	width: 422px;
	min-height: 17px;
	background-color: transparent;
	margin-left: 171px;
	margin-top: 9px;
	position: relative;
}

#u2091
{
	z-index: 48;
	width: 505px;
	min-height: 285px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 171px;
	margin-top: 54px;
	position: relative;
}

#u443-5
{
	z-index: 31;
	width: 392px;
	min-height: 17px;
	background-color: transparent;
	margin-left: 171px;
	margin-top: 9px;
	position: relative;
}

#u427
{
	z-index: 22;
	width: 505px;
	background-color: transparent;
	margin-left: 171px;
	margin-top: 37px;
	position: relative;
}

#u444-5
{
	z-index: 36;
	width: 384px;
	min-height: 17px;
	background-color: transparent;
	margin-left: 171px;
	margin-top: 9px;
	position: relative;
}

#u2018
{
	z-index: 41;
	width: 505px;
	background-color: transparent;
	margin-left: 171px;
	margin-top: 35px;
	position: relative;
}

#u2025-5
{
	z-index: 43;
	width: 396px;
	min-height: 17px;
	background-color: transparent;
	margin-left: 171px;
	margin-top: 10px;
	position: relative;
}

#u442-2,#u443-2,#u444-2,#u2025-2
{
	font-size: 12px;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

