.version.contact /* version checker */
{
	color: #0000FC;
	background-color: #039610;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 318px;
	min-height: 203.84698744769855px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 612px 602.1530125523014px 30px;
}

#u3263-4
{
	z-index: 2;
	width: 197px;
	min-height: 35px;
}

#u3263-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 197px;
	margin: 0px;
}

#pu3266-4
{
	width: 0.01px;
	margin-top: 20px;
}

#u3266-4
{
	z-index: 14;
	width: 86px;
	min-height: 22px;
	margin-right: -10000px;
}

#u3266-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3266-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3295-4
{
	z-index: 26;
	width: 49px;
	min-height: 19px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 170px;
}

#pu3264-4
{
	width: 0.01px;
	margin-top: 9px;
}

#u3264-4
{
	z-index: 6;
	width: 86px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 9px;
}

#u3264-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 9px -10000px 0px 0px;
}

#u3264-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 9px -10000px 0px 0px;
}

#u3099-4
{
	z-index: 22;
	width: 148px;
	min-height: 25px;
	background-color: transparent;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 170px;
}

#u3267-4
{
	z-index: 18;
	width: 86px;
	min-height: 22px;
	margin-top: 20px;
}

#u3267-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 20px 0px 0px;
}

#u3265-4
{
	z-index: 10;
	width: 86px;
	min-height: 22px;
	margin-top: 20px;
}

#u3267-4.MuseLinkActive,#u3265-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 20px 0px 0px;
}

#u3265-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 20px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

