.version.imitation /* version checker */
{
	color: #0000E2;
	background-color: #08DD0A;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 669px;
	min-height: 573.6734937238491px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 261px 148.3265062761509px 30px;
}

#u3263-4
{
	z-index: 2;
	width: 197px;
	min-height: 35px;
}

#u3263-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 197px;
	margin: 0px;
}

#ppu3266-4
{
	width: 0.01px;
	margin-top: 20px;
}

#pu3266-4
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u3266-4
{
	z-index: 14;
	width: 86px;
	min-height: 22px;
}

#u3266-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 0px;
}

#u3266-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 0px;
}

#u3264-4
{
	z-index: 6;
	width: 86px;
	min-height: 22px;
	margin-top: 20px;
}

#u3264-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 20px 0px 0px;
}

#u3267-4
{
	z-index: 18;
	width: 86px;
	min-height: 22px;
	margin-top: 20px;
}

#u3264-4.MuseLinkActive,#u3267-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 20px 0px 0px;
}

#u3265-4
{
	z-index: 10;
	width: 86px;
	min-height: 22px;
	margin-top: 20px;
}

#u3267-4.MuseLinkActive,#u3265-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 20px 0px 0px;
}

#u3265-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 20px 0px 0px;
}

#u3322
{
	z-index: 34;
	width: 501px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 164px;
}

#u403-4
{
	z-index: 22;
	width: 496px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 169px;
	margin-top: 12px;
	position: relative;
}

#u2127-4
{
	z-index: 30;
	width: 500px;
	min-height: 53px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 169px;
	margin-top: 12px;
	position: relative;
}

#u407-4
{
	z-index: 26;
	width: 500px;
	min-height: 33px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 169px;
	margin-top: 12px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

