.version.index /* version checker */
{
	color: #00001D;
	background-color: #369BF8;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1183px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#pu803
{
	width: 0.01px;
	margin-right: -10000px;
}

#u803
{
	z-index: 2;
	width: 221px;
	margin-right: -10000px;
	padding: 36px 14px 810.4923849372385px 23px;
}

#u804-4
{
	z-index: 3;
	width: 191px;
	min-height: 35px;
}

#u805-4
{
	z-index: 7;
	width: 103px;
	min-height: 23px;
	margin-top: 110px;
}

#u807-4
{
	z-index: 15;
	width: 221px;
	min-height: 26px;
	margin-top: 8px;
}

#u807-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 221px;
	margin: 8px 0px 0px;
}

#u807-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 221px;
	margin: 8px 0px 0px;
}

#u806-4
{
	z-index: 11;
	width: 103px;
	min-height: 27px;
	margin-top: 1px;
}

#u806-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 103px;
	margin: 1px 0px 0px;
}

#u806-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 103px;
	margin: 1px 0px 0px;
}

#u808-4
{
	z-index: 19;
	width: 103px;
	min-height: 21px;
	margin-top: 80px;
}

#u809-4
{
	z-index: 23;
	width: 88px;
	min-height: 23px;
	margin-top: 5px;
}

#u809-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 88px;
	margin: 5px 0px 0px;
}

#u809-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 88px;
	margin: 5px 0px 0px;
}

#u810-4
{
	z-index: 27;
	width: 103px;
	min-height: 21px;
	margin-top: 55px;
}

#u811-4
{
	z-index: 31;
	width: 196px;
	min-height: 23px;
	margin-top: 7px;
}

#u811-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 196px;
	margin: 7px 0px 0px;
}

#u811-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 196px;
	margin: 7px 0px 0px;
}

#u813-4
{
	z-index: 39;
	width: 152px;
	min-height: 21px;
	margin-top: 3px;
}

#u813-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 152px;
	margin: 3px 0px 0px;
}

#u813-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 152px;
	margin: 3px 0px 0px;
}

#u812-4
{
	z-index: 35;
	width: 92px;
	min-height: 21px;
	margin-top: 6px;
}

#u812-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 92px;
	margin: 6px 0px 0px;
}

#u812-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 92px;
	margin: 6px 0px 0px;
}

#u814-4
{
	z-index: 43;
	width: 158px;
	min-height: 21px;
	margin-top: 5px;
}

#u814-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 158px;
	margin: 5px 0px 0px;
}

#u814-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 158px;
	margin: 5px 0px 0px;
}

#u1623-4
{
	z-index: 56;
	width: 22px;
	min-height: 22px;
	margin-top: 43px;
}

#u815-4
{
	z-index: 47;
	width: 56px;
	min-height: 22px;
}

#u1586-4
{
	z-index: 51;
	width: 119px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 71px;
	left: 62px;
}

#u1587
{
	z-index: 55;
	width: 113px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 65px;
	left: 62px;
}

#pu1558-6
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 64px;
	margin-left: 337px;
}

#u1558-6
{
	z-index: 60;
	width: 564px;
	min-height: 68px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: normal;
	position: relative;
}

#u1558-2
{
	font-style: italic;
}

#u1796
{
	z-index: 66;
	width: 564px;
	background-color: transparent;
	margin-top: 86px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 74px;
}

#page .verticalspacer
{
	clear: both;
}

