.version.margraue /* version checker */
{
	color: #000009;
	background-color: #D4C038;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 856px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#pu803
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -37px;
	margin-left: 11px;
}

#u803
{
	z-index: 2;
	width: 234px;
	margin-right: -10000px;
	padding: 73px 12px 771px;
}

#u804-4
{
	z-index: 3;
	width: 191px;
	min-height: 35px;
}

#u1826-4
{
	z-index: 44;
	width: 168px;
	min-height: 21px;
	margin-left: 1px;
	margin-top: 140px;
}

#u1897-5
{
	z-index: 49;
	width: 183px;
	min-height: 23px;
	margin-top: 16px;
}

#u1897-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 183px;
	margin: 16px 0px 0px;
}

#u1897-5.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 183px;
	margin: 16px 0px 0px;
}

#u2185-5
{
	z-index: 54;
	width: 183px;
	min-height: 23px;
	margin-top: 8px;
}

#u2185-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 183px;
	margin: 8px 0px 0px;
}

#u2186-5
{
	z-index: 59;
	width: 183px;
	min-height: 23px;
	margin-top: 8px;
}

#u2185-5.MuseLinkActive,#u2186-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 183px;
	margin: 8px 0px 0px;
}

#u2186-5.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 183px;
	margin: 8px 0px 0px;
}

#u808-4
{
	z-index: 7;
	width: 103px;
	min-height: 21px;
	margin-top: 29px;
}

#u2187-5
{
	z-index: 64;
	width: 175px;
	min-height: 23px;
	margin-top: 14px;
}

#u2187-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 175px;
	margin: 14px 0px 0px;
}

#u2187-5.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 175px;
	margin: 14px 0px 0px;
}

#u811-5
{
	z-index: 16;
	width: 234px;
	min-height: 23px;
	margin-top: 14px;
}

#u811-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 234px;
	margin: 14px 0px 0px;
}

#u811-5.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 234px;
	margin: 14px 0px 0px;
}

#u813-5
{
	z-index: 26;
	width: 234px;
	min-height: 21px;
	margin-top: 14px;
}

#u813-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 234px;
	margin: 14px 0px 0px;
}

#u813-5.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 234px;
	margin: 14px 0px 0px;
}

#u809-5
{
	z-index: 11;
	width: 136px;
	min-height: 23px;
	margin-top: 12px;
}

#u809-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 136px;
	margin: 12px 0px 0px;
}

#u809-5.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 136px;
	margin: 12px 0px 0px;
}

#u812-5
{
	z-index: 21;
	width: 168px;
	min-height: 21px;
	margin-left: 1px;
	margin-top: 14px;
}

#u812-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 168px;
	margin: 14px 0px 0px 1px;
}

#u812-5.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 168px;
	margin: 14px 0px 0px 1px;
}

#u1896
{
	z-index: 48;
	width: 113px;
	height: 6px;
	margin-left: 42px;
	margin-top: 10px;
}

#u2241-4
{
	z-index: 69;
	width: 40px;
	min-height: 22px;
	margin-left: 2px;
	margin-top: 56px;
}

#u1623-4
{
	z-index: 40;
	width: 40px;
	min-height: 22px;
	margin-left: 2px;
	margin-top: 33px;
}

#u815-4
{
	z-index: 31;
	width: 56px;
	min-height: 22px;
	margin-left: 1px;
	margin-top: 34px;
}

#u1586-4
{
	z-index: 35;
	width: 119px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 108px;
	left: 51px;
}

#u1587
{
	z-index: 39;
	width: 113px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 102px;
	left: 51px;
}

#pu1860-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 61px;
	margin-left: 322px;
}

#u1860-4
{
	z-index: 87;
	width: 253px;
	min-height: 20px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 151px;
	position: relative;
}

#u1861
{
	z-index: 91;
	width: 419px;
	height: 6px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: 68px;
	margin-top: 6px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u350
{
	z-index: 86;
	width: 500px;
	min-height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 27px;
	margin-top: 43px;
	position: relative;
}

#u348-5
{
	z-index: 81;
	width: 422px;
	min-height: 15px;
	background-color: transparent;
	margin-left: 66px;
	margin-top: 15px;
	position: relative;
}

#u348-2
{
	font-size: 12px;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u2205-5
{
	z-index: 92;
	width: 540px;
	min-height: 73px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 24px;
	position: relative;
}

#u2205
{
	font-style: italic;
}

#u347-8
{
	z-index: 73;
	width: 540px;
	min-height: 73px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 24px;
	position: relative;
}

#u2206
{
	z-index: 97;
	width: 543px;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

