.version.margraue__photos__matthieu_halle /* version checker */
{
	color: #0000F3;
	background-color: #283B6D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 856px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#pu1644
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: -17px;
}

#u1644
{
	z-index: 2;
	width: 221px;
	margin-right: -10000px;
	left: 17px;
	padding: 36px 14px 810.4923849372385px 23px;
}

#u1637-4
{
	z-index: 3;
	width: 191px;
	min-height: 35px;
}

#u1645-4
{
	z-index: 7;
	width: 103px;
	min-height: 23px;
	margin-top: 110px;
}

#u1636-4
{
	z-index: 15;
	width: 221px;
	min-height: 26px;
	margin-top: 8px;
}

#u1636-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 221px;
	margin: 8px 0px 0px;
}

#u1636-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 221px;
	margin: 8px 0px 0px;
}

#u1639-4
{
	z-index: 11;
	width: 103px;
	min-height: 27px;
	margin-top: 1px;
}

#u1639-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 103px;
	margin: 1px 0px 0px;
}

#u1639-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 103px;
	margin: 1px 0px 0px;
}

#u1641-4
{
	z-index: 19;
	width: 103px;
	min-height: 21px;
	margin-top: 80px;
}

#u1647-4
{
	z-index: 23;
	width: 88px;
	min-height: 23px;
	margin-top: 5px;
}

#u1647-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 88px;
	margin: 5px 0px 0px;
}

#u1647-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 88px;
	margin: 5px 0px 0px;
}

#u1634-4
{
	z-index: 27;
	width: 103px;
	min-height: 21px;
	margin-top: 55px;
}

#u1646-4
{
	z-index: 31;
	width: 196px;
	min-height: 23px;
	margin-top: 7px;
}

#u1646-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 196px;
	margin: 7px 0px 0px;
}

#u1646-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 196px;
	margin: 7px 0px 0px;
}

#u1635-4
{
	z-index: 39;
	width: 152px;
	min-height: 21px;
	margin-top: 3px;
}

#u1635-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 152px;
	margin: 3px 0px 0px;
}

#u1635-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 152px;
	margin: 3px 0px 0px;
}

#u1648-4
{
	z-index: 35;
	width: 92px;
	min-height: 21px;
	margin-top: 6px;
}

#u1648-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 92px;
	margin: 6px 0px 0px;
}

#u1648-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 92px;
	margin: 6px 0px 0px;
}

#u1640-4
{
	z-index: 43;
	width: 158px;
	min-height: 21px;
	margin-top: 5px;
}

#u1640-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 158px;
	margin: 5px 0px 0px;
}

#u1640-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 158px;
	margin: 5px 0px 0px;
}

#u1638-4
{
	z-index: 56;
	width: 22px;
	min-height: 22px;
	margin-top: 43px;
}

#u1642-4
{
	z-index: 47;
	width: 56px;
	min-height: 22px;
}

#u1633-4
{
	z-index: 51;
	width: 119px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 71px;
	left: 79px;
}

#u1643
{
	z-index: 55;
	width: 113px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 65px;
	left: 79px;
}

#u874
{
	z-index: 87;
	width: 258px;
	height: 3571px;
	border-color: #000000;
	background-color: #F6F6F6;
	position: relative;
	margin-right: -10000px;
	margin-top: 848px;
}

#ppu1650-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 56px;
	margin-left: 324px;
}

#pu1650-4
{
	width: 0.01px;
	margin-left: 70px;
}

#u1650-4
{
	z-index: 60;
	width: 46px;
	min-height: 16px;
	margin-right: -10000px;
}

#u1650-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u1650-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u1652-4
{
	z-index: 68;
	width: 82px;
	min-height: 11px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 86px;
}

#u1652-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 11px;
	width: 82px;
	margin: 1px -10000px 0px 0px;
}

#u1652-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 11px;
	width: 82px;
	margin: 1px -10000px 0px 0px;
}

#u1651-4
{
	z-index: 64;
	width: 74px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 201px;
}

#u1651-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 1px -10000px 0px 0px;
}

#u1651-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 1px -10000px 0px 0px;
}

#u1653-4
{
	z-index: 72;
	width: 112px;
	margin-right: -10000px;
	left: 300px;
}

#u1653-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u1653-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u1654
{
	z-index: 76;
	width: 398px;
	height: 16px;
	margin-left: 70px;
	margin-top: 2px;
}

#u376-4
{
	z-index: 77;
	width: 451px;
	min-height: 92px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 51px;
	margin-top: 56px;
	position: relative;
}

#u378-6
{
	z-index: 81;
	width: 84px;
	min-height: 26px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-left: 418px;
	margin-top: 12px;
	position: relative;
}

#u378-2
{
	font-size: 12px;
	line-height: 14px;
}

#u378-4
{
	font-size: 10px;
	line-height: 12px;
}

#u1495
{
	z-index: 104;
	width: 555px;
	background-color: transparent;
	margin-top: 28px;
	position: relative;
}

#u1485
{
	z-index: 100;
	width: 552px;
	background-color: transparent;
	margin-top: 38px;
	position: relative;
}

#u1490
{
	z-index: 102;
	width: 552px;
	background-color: transparent;
	margin-top: 38px;
	position: relative;
}

#u1455
{
	z-index: 88;
	width: 552px;
	background-color: transparent;
	margin-top: 38px;
	position: relative;
}

#u1460
{
	z-index: 90;
	width: 554px;
	background-color: transparent;
	margin-left: 6px;
	margin-top: 38px;
	position: relative;
}

#u1465
{
	z-index: 92;
	width: 554px;
	background-color: transparent;
	margin-left: 6px;
	margin-top: 38px;
	position: relative;
}

#u1470
{
	z-index: 94;
	width: 555px;
	background-color: transparent;
	margin-left: 5px;
	margin-top: 38px;
	position: relative;
}

#u1500
{
	z-index: 106;
	width: 552px;
	background-color: transparent;
	margin-left: 5px;
	margin-top: 38px;
	position: relative;
}

#u1480
{
	z-index: 98;
	width: 554px;
	background-color: transparent;
	margin-left: 5px;
	margin-top: 38px;
	position: relative;
}

#u1475
{
	z-index: 96;
	width: 555px;
	background-color: transparent;
	margin-left: 4px;
	margin-top: 40px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

