.version.margraue__about__matthieu_halle /* version checker */
{
	color: #0000EF;
	background-color: #530C17;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 856px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#pu1644
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1644
{
	z-index: 2;
	width: 258px;
	margin-right: -10000px;
}

#u1644_position_content
{
	padding-top: 36px;
	padding-bottom: 222px;
}

#u1637-4
{
	z-index: 3;
	width: 191px;
	min-height: 35px;
	margin-left: 23px;
}

#u1645-4
{
	z-index: 7;
	width: 103px;
	min-height: 23px;
	margin-left: 23px;
	margin-top: 110px;
}

#u1636-4
{
	z-index: 15;
	width: 221px;
	min-height: 26px;
	margin-left: 23px;
	margin-top: 8px;
}

#u1636-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 221px;
	margin: 8px 0px 0px 23px;
}

#u1636-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 221px;
	margin: 8px 0px 0px 23px;
}

#u1639-4
{
	z-index: 11;
	width: 103px;
	min-height: 27px;
	margin-left: 23px;
	margin-top: 1px;
}

#u1639-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 103px;
	margin: 1px 0px 0px 23px;
}

#u1639-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 103px;
	margin: 1px 0px 0px 23px;
}

#u1641-4
{
	z-index: 19;
	width: 103px;
	min-height: 21px;
	margin-left: 23px;
	margin-top: 80px;
}

#u1647-4
{
	z-index: 23;
	width: 88px;
	min-height: 23px;
	margin-left: 23px;
	margin-top: 5px;
}

#u1647-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 88px;
	margin: 5px 0px 0px 23px;
}

#u1647-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 88px;
	margin: 5px 0px 0px 23px;
}

#u1634-4
{
	z-index: 27;
	width: 103px;
	min-height: 21px;
	margin-left: 23px;
	margin-top: 55px;
}

#u1646-4
{
	z-index: 31;
	width: 196px;
	min-height: 23px;
	margin-left: 23px;
	margin-top: 7px;
}

#u1646-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 196px;
	margin: 7px 0px 0px 23px;
}

#u1646-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 196px;
	margin: 7px 0px 0px 23px;
}

#u1635-4
{
	z-index: 39;
	width: 152px;
	min-height: 21px;
	margin-left: 23px;
	margin-top: 3px;
}

#u1635-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 152px;
	margin: 3px 0px 0px 23px;
}

#u1635-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 152px;
	margin: 3px 0px 0px 23px;
}

#u1648-4
{
	z-index: 35;
	width: 92px;
	min-height: 21px;
	margin-left: 23px;
	margin-top: 6px;
}

#u1648-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 92px;
	margin: 6px 0px 0px 23px;
}

#u1648-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 92px;
	margin: 6px 0px 0px 23px;
}

#u1640-4
{
	z-index: 43;
	width: 158px;
	min-height: 21px;
	margin-left: 23px;
	margin-top: 5px;
}

#u1640-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 158px;
	margin: 5px 0px 0px 23px;
}

#u1640-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 158px;
	margin: 5px 0px 0px 23px;
}

#u1638-4
{
	z-index: 56;
	width: 22px;
	min-height: 22px;
	margin-left: 23px;
	margin-top: 43px;
}

#u1642-4
{
	z-index: 47;
	width: 56px;
	min-height: 22px;
	margin-left: 23px;
}

#u905
{
	z-index: 95;
	width: 258px;
	height: 429px;
	border-color: #000000;
	background-color: #F6F6F6;
	margin-top: 160px;
	position: relative;
}

#u1633-4
{
	z-index: 51;
	width: 119px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 71px;
	left: 62px;
}

#u1643
{
	z-index: 55;
	width: 113px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 65px;
	left: 62px;
}

#ppu1650-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 56px;
	margin-left: 315px;
}

#pu1650-4
{
	width: 0.01px;
	margin-left: 79px;
}

#u1650-4
{
	z-index: 60;
	width: 46px;
	min-height: 16px;
	margin-right: -10000px;
}

#u1650-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u1650-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u1652-4
{
	z-index: 68;
	width: 82px;
	min-height: 11px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 86px;
}

#u1652-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 11px;
	width: 82px;
	margin: 1px -10000px 0px 0px;
}

#u1652-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 11px;
	width: 82px;
	margin: 1px -10000px 0px 0px;
}

#u1651-4
{
	z-index: 64;
	width: 74px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 201px;
}

#u1651-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 1px -10000px 0px 0px;
}

#u1651-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 1px -10000px 0px 0px;
}

#u1653-4
{
	z-index: 72;
	width: 112px;
	margin-right: -10000px;
	left: 300px;
}

#u1653-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u1653-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u1654
{
	z-index: 76;
	width: 398px;
	height: 16px;
	margin-left: 79px;
	margin-top: 2px;
}

#u350
{
	z-index: 94;
	width: 500px;
	min-height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 34px;
	margin-top: 25px;
	position: relative;
}

#u348-5
{
	z-index: 85;
	width: 422px;
	min-height: 15px;
	background-color: transparent;
	margin-left: 66px;
	margin-top: 11px;
	position: relative;
}

#u348-2
{
	font-size: 12px;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1581-4
{
	z-index: 109;
	width: 80px;
	min-height: 18px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 244px;
	margin-top: 38px;
	position: relative;
}

#u1580-13
{
	z-index: 96;
	width: 568px;
	min-height: 73px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 10px;
	position: relative;
}

#u349-4
{
	z-index: 90;
	width: 57px;
	min-height: 18px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 256px;
	margin-top: 62px;
	position: relative;
}

#u1581,#u349
{
	text-decoration: underline;
}

#u347-8
{
	z-index: 77;
	width: 540px;
	min-height: 73px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 14px;
	margin-top: 8px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

