#u803
{
	border-color: #000000;
	background-color: #F6F6F6;
	position: relative;
}

#u804-4
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1826-4,#u805-5,#u808-4,#u809-5
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u809-5:hover p,#u809-5:hover span
{
	color: #A9A9A9;
	visibility: inherit;
}

#u810-4,#u811-5
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u811-5:hover p,#u811-5:hover span
{
	color: #A9A9A9;
	visibility: inherit;
}

#u813-5
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u813-5:hover p,#u813-5:hover span
{
	color: #A9A9A9;
	visibility: inherit;
}

#u812-5
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u812-5:hover p,#u812-5:hover span
{
	color: #A9A9A9;
	visibility: inherit;
}

#u809-5.MuseLinkActive p,#u809-5.MuseLinkActive span,#u811-5.MuseLinkActive p,#u811-5.MuseLinkActive span,#u813-5.MuseLinkActive p,#u813-5.MuseLinkActive span,#u812-5.MuseLinkActive p,#u812-5.MuseLinkActive span
{
	color: #6D6D6D;
	visibility: inherit;
}

#u805-3,#u809-3,#u811-3,#u813-3,#u812-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u805,#u809,#u811,#u813,#u812
{
	line-height: 17px;
}

#u805-2,#u809-2,#u811-2,#u813-2,#u812-2
{
	font-size: 12px;
	line-height: 14px;
}

#u1623-4,#u1894-4,#u815-4
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1586-4
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
}

#u1896,#u1587
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	border-width: 1px 0px 0px;
}

