#u3230
{
	background-color: transparent;
	position: relative;
}

#u804-4
{
	background-color: transparent;
	line-height: 26px;
	color: #FFFFFF;
	text-align: left;
	font-size: 22px;
	letter-spacing: 2px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2241-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u3100-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u3212-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u3213-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u804-4:hover p,#u804-4:hover h1,#u2241-4:hover p,#u2241-4:hover h2,#u3100-4:hover p,#u3100-4:hover h2,#u3212-4:hover p,#u3212-4:hover h2,#u3213-4:hover p,#u3213-4:hover h2
{
	color: #000000;
	visibility: inherit;
}

