#u803
{
	border-color: #000000;
	background-color: #F6F6F6;
	position: relative;
}

#u804-4
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u805-4,#u807-4
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u807-4:hover p
{
	color: #A9A9A9;
	visibility: inherit;
}

#u806-4
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u806-4:hover p
{
	color: #A9A9A9;
	visibility: inherit;
}

#u808-4,#u809-4
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u809-4:hover p
{
	color: #A9A9A9;
	visibility: inherit;
}

#u810-4,#u811-4
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u811-4:hover p
{
	color: #A9A9A9;
	visibility: inherit;
}

#u813-4
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u813-4:hover p
{
	color: #A9A9A9;
	visibility: inherit;
}

#u812-4
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u812-4:hover p
{
	color: #A9A9A9;
	visibility: inherit;
}

#u814-4
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u814-4:hover p
{
	color: #A9A9A9;
	visibility: inherit;
}

#u807-4.MuseLinkActive p,#u806-4.MuseLinkActive p,#u809-4.MuseLinkActive p,#u811-4.MuseLinkActive p,#u813-4.MuseLinkActive p,#u812-4.MuseLinkActive p,#u814-4.MuseLinkActive p
{
	color: #6D6D6D;
	visibility: inherit;
}

#u1623-4,#u815-4
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1586-4
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
}

#u1587
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	border-width: 1px 0px 0px;
}

