#u1644
{
	border-color: #000000;
	background-color: #F6F6F6;
	position: relative;
}

#u1637-4
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1645-4,#u1636-4
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1636-4:hover p
{
	color: #A9A9A9;
	visibility: inherit;
}

#u1639-4
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1639-4:hover p
{
	color: #A9A9A9;
	visibility: inherit;
}

#u1641-4,#u1647-4
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1647-4:hover p
{
	color: #A9A9A9;
	visibility: inherit;
}

#u1634-4,#u1646-4
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1646-4:hover p
{
	color: #A9A9A9;
	visibility: inherit;
}

#u1635-4
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1635-4:hover p
{
	color: #A9A9A9;
	visibility: inherit;
}

#u1648-4
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1648-4:hover p
{
	color: #A9A9A9;
	visibility: inherit;
}

#u1640-4
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1640-4:hover p
{
	color: #A9A9A9;
	visibility: inherit;
}

#u1638-4,#u1642-4,#u1633-4
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1650-4
{
	background-color: transparent;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1650-4:hover p
{
	color: #A9A9A9;
	visibility: inherit;
}

#u1652-4
{
	background-color: transparent;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1652-4:hover p
{
	color: #A9A9A9;
	visibility: inherit;
}

#u1651-4
{
	background-color: transparent;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1651-4:hover p
{
	color: #A9A9A9;
	visibility: inherit;
}

#u1653-4
{
	background-color: transparent;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1653-4:hover p
{
	color: #A9A9A9;
	visibility: inherit;
}

#u1636-4.MuseLinkActive p,#u1639-4.MuseLinkActive p,#u1647-4.MuseLinkActive p,#u1646-4.MuseLinkActive p,#u1635-4.MuseLinkActive p,#u1648-4.MuseLinkActive p,#u1640-4.MuseLinkActive p,#u1650-4.MuseLinkActive p,#u1652-4.MuseLinkActive p,#u1651-4.MuseLinkActive p,#u1653-4.MuseLinkActive p
{
	color: #6D6D6D;
	visibility: inherit;
}

#u1643,#u1654
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	border-width: 1px 0px 0px;
}

