.version.ocean_sketch /* version checker */
{
	color: #0000F8;
	background-color: #B5504D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 664px;
	min-height: 1647.8734937238492px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 266px 58.12650627615085px 30px;
}

#u3263-4
{
	z-index: 2;
	width: 197px;
	min-height: 35px;
}

#u3263-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 197px;
	margin: 0px;
}

#ppu3266-4
{
	width: 0.01px;
	margin-top: 20px;
}

#pu3266-4
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u3266-4
{
	z-index: 14;
	width: 86px;
	min-height: 22px;
}

#u3266-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 0px;
}

#u3266-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 0px;
}

#u3264-4
{
	z-index: 6;
	width: 86px;
	min-height: 22px;
	margin-top: 20px;
}

#u3264-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 20px 0px 0px;
}

#u3267-4
{
	z-index: 18;
	width: 86px;
	min-height: 22px;
	margin-top: 20px;
}

#u3264-4.MuseLinkActive,#u3267-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 20px 0px 0px;
}

#u3265-4
{
	z-index: 10;
	width: 86px;
	min-height: 22px;
	margin-top: 20px;
}

#u3267-4.MuseLinkActive,#u3265-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 20px 0px 0px;
}

#u3265-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 20px 0px 0px;
}

#u3162
{
	z-index: 27;
	width: 493px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 170px;
}

#u2228-5
{
	z-index: 22;
	width: 493px;
	min-height: 17px;
	background-color: transparent;
	margin-left: 170px;
	margin-top: 6px;
	position: relative;
}

#u3169-6
{
	z-index: 29;
	width: 493px;
	min-height: 50px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 170px;
	margin-top: 6px;
	position: relative;
}

#u3169-2
{
	font-style: italic;
}

#u3577
{
	z-index: 35;
	width: 493px;
	background-color: transparent;
	margin-left: 170px;
	margin-top: 25px;
	position: relative;
}

#u3592-5
{
	z-index: 41;
	width: 493px;
	min-height: 17px;
	background-color: transparent;
	margin-left: 170px;
	margin-top: 5px;
	position: relative;
}

#u3583
{
	z-index: 37;
	width: 495px;
	background-color: transparent;
	margin-left: 170px;
	margin-top: 13px;
	position: relative;
}

#u3593-5
{
	z-index: 46;
	width: 493px;
	min-height: 17px;
	background-color: transparent;
	margin-left: 170px;
	margin-top: 8px;
	position: relative;
}

#u3586
{
	z-index: 39;
	width: 495px;
	background-color: transparent;
	margin-left: 170px;
	margin-top: 23px;
	position: relative;
}

#u3594-5
{
	z-index: 51;
	width: 493px;
	min-height: 17px;
	background-color: transparent;
	margin-left: 170px;
	margin-top: 7px;
	position: relative;
}

#u2228-2,#u3592-2,#u3593-2,#u3594-2
{
	font-size: 12px;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 87px;
}

#page .verticalspacer
{
	clear: both;
}

