.version.projects /* version checker */
{
	color: #000014;
	background-color: #E5C2F5;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 403px;
	min-height: 411px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 527px 395px 30px;
}

#u3263-4
{
	z-index: 2;
	width: 197px;
	min-height: 35px;
}

#u3263-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 197px;
	margin: 0px;
}

#pu3266-4
{
	width: 0.01px;
	margin-top: 20px;
}

#u3266-4
{
	z-index: 14;
	width: 86px;
	min-height: 22px;
	margin-right: -10000px;
}

#u3266-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3266-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3258-4
{
	z-index: 46;
	width: 211px;
	min-height: 21px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 170px;
}

#pu3264-4
{
	width: 0.01px;
	margin-top: 16px;
}

#u3264-4
{
	z-index: 6;
	width: 86px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u3264-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 1px -10000px 0px 0px;
}

#u3264-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 1px -10000px 0px 0px;
}

#u3259-5
{
	z-index: 50;
	width: 183px;
	min-height: 23px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 169px;
}

#pu3267-4
{
	width: 0.01px;
	margin-top: 8px;
}

#u3267-4
{
	z-index: 18;
	width: 86px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u3267-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 12px -10000px 0px 0px;
}

#u3267-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 12px -10000px 0px 0px;
}

#u3260-5
{
	z-index: 55;
	width: 183px;
	min-height: 23px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 169px;
}

#u3259-5:hover,#u3260-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u3261-5
{
	z-index: 60;
	width: 183px;
	min-height: 23px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 169px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u3261-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 183px;
	margin: 0px 0px -4px 169px;
}

#u3265-4
{
	z-index: 10;
	width: 86px;
	min-height: 22px;
	margin-top: 1px;
}

#u3265-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 1px 0px 0px;
}

#u3265-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 1px 0px 0px;
}

#u3253-4
{
	z-index: 22;
	width: 103px;
	min-height: 21px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 169px;
	margin-top: 7px;
	position: relative;
}

#u3262-5
{
	z-index: 65;
	width: 175px;
	min-height: 23px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 169px;
	margin-top: 13px;
	position: relative;
}

#u3262-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 175px;
	margin: 13px 0px 0px 169px;
}

#u3255-5
{
	z-index: 31;
	width: 234px;
	min-height: 23px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 169px;
	margin-top: 14px;
	position: relative;
}

#u3255-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 234px;
	margin: 14px 0px 0px 169px;
}

#u3257-5
{
	z-index: 41;
	width: 234px;
	min-height: 21px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 169px;
	margin-top: 14px;
	position: relative;
}

#u3257-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 234px;
	margin: 14px 0px 0px 169px;
}

#u3256-5
{
	z-index: 36;
	width: 168px;
	min-height: 21px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 170px;
	margin-top: 14px;
	position: relative;
}

#u3256-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 168px;
	margin: 14px 0px 0px 170px;
}

#u3254-5
{
	z-index: 26;
	width: 136px;
	min-height: 23px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 170px;
	margin-top: 14px;
	position: relative;
}

#u3254-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 136px;
	margin: 14px 0px 0px 170px;
}

#u3259-5:hover p,#u3259-5:hover h3,#u3259-5:hover span,#u3260-5:hover p,#u3260-5:hover h3,#u3260-5:hover span,#u3261-5:hover p,#u3261-5:hover h3,#u3261-5:hover span,#u3262-5:hover p,#u3262-5:hover h3,#u3262-5:hover span,#u3255-5:hover p,#u3255-5:hover h3,#u3255-5:hover span,#u3257-5:hover p,#u3257-5:hover h3,#u3257-5:hover span,#u3256-5:hover p,#u3256-5:hover h3,#u3256-5:hover span,#u3254-5:hover p,#u3254-5:hover h3,#u3254-5:hover span
{
	color: #A9A9A9;
	visibility: inherit;
}

#u3259-3,#u3260-3,#u3261-3,#u3262-3,#u3255-3,#u3257-3,#u3256-3,#u3254-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3259,#u3260,#u3261,#u3262,#u3255,#u3257,#u3256,#u3254
{
	line-height: 17px;
}

#u3259-2,#u3260-2,#u3261-2,#u3262-2,#u3255-2,#u3257-2,#u3256-2,#u3254-2
{
	font-size: 12px;
	line-height: 14px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

