.version.view /* version checker */
{
	color: #0000FF;
	background-color: #0145D6;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 508px;
	min-height: 458.8234937238492px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 422px 347.1765062761508px 30px;
}

#u3263-4
{
	z-index: 2;
	width: 197px;
	min-height: 35px;
}

#u3263-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 197px;
	margin: 0px;
}

#pu3266-4
{
	width: 0.01px;
	margin-top: 20px;
}

#u3266-4
{
	z-index: 14;
	width: 86px;
	min-height: 22px;
	margin-right: -10000px;
}

#u3266-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3293-4
{
	z-index: 22;
	width: 197px;
	min-height: 24px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 170px;
}

#pu3264-4
{
	width: 0.01px;
	margin-top: 13px;
}

#u3264-4
{
	z-index: 6;
	width: 86px;
	min-height: 22px;
	margin-right: -10000px;
}

#u3266-4.MuseLinkActive,#u3264-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3264-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u3294-4
{
	z-index: 26;
	width: 49px;
	min-height: 25px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 170px;
}

#u3294-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 49px;
	margin: 2px -10000px 0px 0px;
}

#u3294-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u3267-4
{
	z-index: 18;
	width: 86px;
	min-height: 22px;
	margin-top: 15px;
}

#u3267-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 15px 0px 0px;
}

#u3267-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 15px 0px 0px;
}

#pu3265-4
{
	width: 0.01px;
	margin-top: 15px;
}

#u3265-4
{
	z-index: 10;
	width: 86px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u3265-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 4px -10000px 0px 0px;
}

#u3265-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 86px;
	margin: 4px -10000px 0px 0px;
}

#u3297-4
{
	z-index: 30;
	width: 139px;
	min-height: 21px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 170px;
}

#u3300-5
{
	z-index: 62;
	width: 296px;
	min-height: 22px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 170px;
	margin-top: 1px;
	position: relative;
}

#u3298-14
{
	z-index: 34;
	width: 338px;
	min-height: 89px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 170px;
	margin-top: 7px;
	position: relative;
}

#u3301-5
{
	z-index: 67;
	width: 296px;
	min-height: 22px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 170px;
	margin-top: 19px;
	position: relative;
}

#u3300,#u3301
{
	font-style: italic;
}

#u3301-2
{
	font-style: normal;
}

#u3299-14
{
	z-index: 48;
	width: 338px;
	min-height: 89px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 170px;
	margin-top: 6px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

