.version.visual_shows /* version checker */
{
	color: #0000EC;
	background-color: #812E3E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1517px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#pu803
{
	width: 0.01px;
	margin-right: -10000px;
}

#u803
{
	z-index: 2;
	width: 235px;
	padding-left: 23px;
	padding-top: 36px;
	padding-bottom: 844.5395369933392px;
	margin-right: -10000px;
}

#u804-4
{
	z-index: 3;
	width: 191px;
	min-height: 35px;
}

#u1826-4
{
	z-index: 48;
	width: 168px;
	min-height: 21px;
	margin-top: 140px;
}

#u1897-5
{
	z-index: 57;
	width: 183px;
	min-height: 23px;
	margin-top: 7px;
}

#u1897-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 183px;
	margin: 7px 0px 0px;
}

#u1897-5.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 183px;
	margin: 7px 0px 0px;
}

#u808-4
{
	z-index: 7;
	width: 103px;
	min-height: 21px;
	margin-top: 45px;
}

#u809-5
{
	z-index: 11;
	width: 136px;
	min-height: 23px;
	margin-top: 5px;
}

#u809-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 136px;
	margin: 5px 0px 0px;
}

#u809-5.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 136px;
	margin: 5px 0px 0px;
}

#u810-4
{
	z-index: 16;
	width: 103px;
	min-height: 21px;
	margin-left: 1px;
	margin-top: 50px;
}

#u811-5
{
	z-index: 20;
	width: 234px;
	min-height: 23px;
	margin-left: 1px;
	margin-top: 7px;
}

#u811-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 234px;
	margin: 7px 0px 0px 1px;
}

#u811-5.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 234px;
	margin: 7px 0px 0px 1px;
}

#u813-5
{
	z-index: 30;
	width: 234px;
	min-height: 21px;
	margin-left: 1px;
	margin-top: 14px;
}

#u813-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 234px;
	margin: 14px 0px 0px 1px;
}

#u813-5.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 234px;
	margin: 14px 0px 0px 1px;
}

#u812-5
{
	z-index: 25;
	width: 168px;
	min-height: 21px;
	margin-left: 1px;
	margin-top: 18px;
}

#u812-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 168px;
	margin: 18px 0px 0px 1px;
}

#u812-5.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 168px;
	margin: 18px 0px 0px 1px;
}

#u1896
{
	z-index: 56;
	width: 113px;
	height: 6px;
	margin-left: 41px;
	margin-top: 41px;
}

#u1623-4
{
	z-index: 44;
	width: 40px;
	min-height: 22px;
	margin-left: 1px;
	margin-top: 18px;
}

#u1894-4
{
	z-index: 52;
	width: 56px;
	min-height: 22px;
	margin-top: 34px;
}

#u815-4
{
	z-index: 35;
	width: 56px;
	min-height: 22px;
	margin-top: 34px;
}

#u1586-4
{
	z-index: 39;
	width: 119px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 71px;
	left: 62px;
}

#u1587
{
	z-index: 43;
	width: 113px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 65px;
	left: 62px;
}

#u1588
{
	z-index: 63;
	width: 258px;
	height: 2462px;
	border-color: #000000;
	background-color: #F6F6F6;
	position: relative;
	margin-right: -10000px;
	margin-top: 941px;
}

#pu1846-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 64px;
	margin-left: 352px;
}

#u1846-4
{
	z-index: 65;
	width: 253px;
	min-height: 20px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 119px;
	position: relative;
}

#u1847
{
	z-index: 69;
	width: 419px;
	height: 6px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: 36px;
	margin-top: 6px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u1569
{
	z-index: 62;
	width: 490px;
	min-height: 321px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 30px;
	position: relative;
}

#u2051
{
	z-index: 74;
	width: 419px;
	height: 6px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: 40px;
	margin-top: 27px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u2050-4
{
	z-index: 70;
	width: 253px;
	min-height: 20px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 118px;
	margin-top: 41px;
	position: relative;
}

#u2052
{
	z-index: 75;
	width: 490px;
	min-height: 321px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 41px;
	position: relative;
}

#u2054
{
	z-index: 76;
	width: 490px;
	background-color: transparent;
	margin-top: 36px;
	position: relative;
}

#u2060-11
{
	z-index: 78;
	width: 490px;
	min-height: 68px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 11px;
	position: relative;
}

#u2070
{
	z-index: 94;
	width: 419px;
	height: 6px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: 36px;
	margin-top: 50px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u2067-4
{
	z-index: 89;
	width: 253px;
	min-height: 20px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 119px;
	margin-top: 38px;
	position: relative;
}

#u2068
{
	z-index: 93;
	width: 490px;
	min-height: 321px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 38px;
	position: relative;
}

#u2071
{
	z-index: 95;
	width: 488px;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 15px;
	position: relative;
}

#u2077-12
{
	z-index: 97;
	width: 490px;
	min-height: 37px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 16px;
	position: relative;
}

#u2079
{
	z-index: 113;
	width: 419px;
	height: 6px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: 35px;
	margin-top: 28px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u2078-4
{
	z-index: 109;
	width: 253px;
	min-height: 20px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 118px;
	margin-top: 42px;
	position: relative;
}

#u1810
{
	z-index: 64;
	width: 500px;
	min-height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 4px;
	margin-top: 42px;
	position: relative;
}

#u2093
{
	z-index: 125;
	width: 500px;
	background-color: transparent;
	margin-left: 4px;
	margin-top: 30px;
	position: relative;
}

#u2080-11
{
	z-index: 114;
	width: 490px;
	min-height: 37px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 5px;
	margin-top: 29px;
	position: relative;
}

#u2060,#u2077,#u2077-3,#u2077-5,#u2080
{
	font-style: italic;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

