.version.about /* version checker */
{
	color: #0000F4;
	background-color: #4237F3;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 337px;
	min-height: 462.5984937238493px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 36px 26px 71.40150627615071px 17px;
}

#u3457-4
{
	z-index: 2;
	width: 212px;
	min-height: 35px;
	margin-left: 3px;
}

#u3457-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 212px;
	margin: 0px 0px 0px 3px;
}

#ppu3460-4
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 19px;
}

#pu3460-4
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u3460-4
{
	z-index: 14;
	width: 90px;
	min-height: 22px;
}

#u3460-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 0px;
}

#u3460-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 0px;
}

#u3458-4
{
	z-index: 6;
	width: 90px;
	min-height: 22px;
	margin-top: 20px;
}

#u3458-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px;
}

#u3461-4
{
	z-index: 18;
	width: 90px;
	min-height: 22px;
	margin-top: 20px;
}

#u3458-4.MuseLinkActive,#u3461-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px;
}

#u3461-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px;
}

#u3476
{
	z-index: 36;
	width: 128px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#pu3459-4
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 4px;
}

#u3459-4
{
	z-index: 10;
	width: 90px;
	min-height: 22px;
	margin-right: -10000px;
}

#u3459-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3459-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3474-4
{
	z-index: 32;
	width: 89px;
	min-height: 21px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 110px;
}

#u3473-10
{
	z-index: 22;
	width: 337px;
	min-height: 294px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 11px;
	position: relative;
}

#u3473-2,#u3473-3,#u3473-5
{
	text-align: left;
}

#u3473-6,#u3473-8
{
	font-size: 14px;
	text-align: justify;
}

#u3478-4
{
	z-index: 38;
	width: 182px;
	min-height: 32px;
	background-color: transparent;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 44px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

