.version.and_time /* version checker */
{
	color: #000014;
	background-color: #B38662;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 2177.9500000000003px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-bottom: 1px;
	width: 0.01px;
}

#pu2910
{
	width: 0.01px;
}

#u2910
{
	z-index: 2;
	min-height: 60px;
	padding: 21px 81px 8px 86px;
}

#u2904-4
{
	z-index: 4;
	width: 213px;
	min-height: 35px;
}

#u2905-4
{
	z-index: 8;
	width: 119px;
	min-height: 26px;
	margin-left: 50px;
}

#u2910-bw
{
	z-index: 2;
	min-height: 60px;
	margin-bottom: -1px;
}

#u2906
{
	z-index: 12;
	width: 113px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 136px;
}

#u3069-4
{
	z-index: 80;
	width: 253px;
	min-height: 20px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 64px;
	margin-top: 20px;
	position: relative;
}

#u3070
{
	z-index: 84;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u3070-bw
{
	z-index: 84;
	margin-top: 6px;
}

#u3049
{
	z-index: 61;
	width: 344px;
	background-color: transparent;
	margin-left: 18px;
	margin-top: 16px;
	position: relative;
}

#u3042-5
{
	z-index: 26;
	width: 326px;
	min-height: 20px;
	background-color: transparent;
	margin-left: 18px;
	margin-top: 2px;
	position: relative;
}

#u3063
{
	z-index: 74;
	width: 309px;
	height: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 35px;
	margin-top: 13px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u3051
{
	z-index: 63;
	width: 344px;
	background-color: transparent;
	margin-left: 18px;
	margin-top: 15px;
	position: relative;
}

#u3043-5
{
	z-index: 31;
	width: 344px;
	min-height: 47px;
	background-color: transparent;
	margin-left: 18px;
	margin-top: 4px;
	position: relative;
}

#u3064
{
	z-index: 75;
	width: 309px;
	height: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 46px;
	margin-top: 14px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u3053
{
	z-index: 65;
	width: 344px;
	min-height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 18px;
	margin-top: 15px;
	position: relative;
}

#u3045-5
{
	z-index: 41;
	width: 344px;
	min-height: 48px;
	background-color: transparent;
	margin-left: 18px;
	margin-top: 2px;
	position: relative;
}

#u3065
{
	z-index: 76;
	width: 309px;
	height: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 35px;
	margin-top: 15px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u3055
{
	z-index: 66;
	width: 344px;
	background-color: transparent;
	margin-left: 18px;
	margin-top: 15px;
	position: relative;
}

#u3044-5
{
	z-index: 36;
	width: 326px;
	min-height: 20px;
	background-color: transparent;
	margin-left: 18px;
	margin-top: 2px;
	position: relative;
}

#u3066
{
	z-index: 77;
	width: 309px;
	height: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 35px;
	margin-top: 18px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u3057
{
	z-index: 68;
	width: 344px;
	background-color: transparent;
	margin-left: 18px;
	margin-top: 18px;
	position: relative;
}

#u3046-5
{
	z-index: 46;
	width: 343px;
	min-height: 20px;
	background-color: transparent;
	margin-left: 18px;
	margin-top: 5px;
	position: relative;
}

#u3067
{
	z-index: 78;
	width: 309px;
	height: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 35px;
	margin-top: 17px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u3059
{
	z-index: 70;
	width: 344px;
	background-color: transparent;
	margin-left: 18px;
	margin-top: 17px;
	position: relative;
}

#u3047-5
{
	z-index: 51;
	width: 362px;
	min-height: 20px;
	background-color: transparent;
	margin-left: 18px;
	margin-top: 4px;
	position: relative;
}

#u3068
{
	z-index: 79;
	width: 309px;
	height: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 32px;
	margin-top: 17px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u3061
{
	z-index: 72;
	width: 344px;
	background-color: transparent;
	margin-left: 18px;
	margin-top: 18px;
	position: relative;
}

#u3048-5
{
	z-index: 56;
	width: 338px;
	min-height: 20px;
	background-color: transparent;
	margin-left: 18px;
	margin-top: 4px;
	position: relative;
}

#u3042-2,#u3043-2,#u3045-2,#u3044-2,#u3046-2,#u3047-2,#u3048-2
{
	font-size: 12px;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u2903
{
	z-index: 3;
	min-height: 35px;
	padding-bottom: 13px;
}

#u2908-4
{
	z-index: 18;
	width: 86px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 38px;
}

#u2907-5
{
	z-index: 13;
	width: 40px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 188px;
}

#u2909-4
{
	z-index: 22;
	width: 43px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 292px;
}

#u2903-bw
{
	z-index: 3;
	min-height: 35px;
	margin-top: 110px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

