.version.and_time /* version checker */
{
	color: #0000F5;
	background-color: #4E157A;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 355px;
	min-height: 462.9484937238508px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 36px 12px 71.05150627614921px 13px;
}

#u3457-4
{
	z-index: 2;
	width: 212px;
	min-height: 35px;
	margin-left: 7px;
}

#u3457-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 212px;
	margin: 0px 0px 0px 7px;
}

#u3460-4
{
	z-index: 14;
	width: 90px;
	min-height: 22px;
	margin-left: 7px;
	margin-top: 20px;
}

#u3460-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px 7px;
}

#u3458-4
{
	z-index: 6;
	width: 90px;
	min-height: 22px;
	margin-left: 7px;
	margin-top: 20px;
}

#u3460-4.MuseLinkActive,#u3458-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px 7px;
}

#u3461-4
{
	z-index: 18;
	width: 90px;
	min-height: 22px;
	margin-left: 7px;
	margin-top: 20px;
}

#u3458-4.MuseLinkActive,#u3461-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px 7px;
}

#u3459-4
{
	z-index: 10;
	width: 90px;
	min-height: 22px;
	margin-left: 7px;
	margin-top: 20px;
}

#u3461-4.MuseLinkActive,#u3459-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px 7px;
}

#u3459-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px 7px;
}

#u3546
{
	z-index: 57;
	width: 355px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u3539-5
{
	z-index: 22;
	width: 353px;
	min-height: 32px;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
}

#u3548
{
	z-index: 59;
	width: 352px;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
}

#u3540-5
{
	z-index: 27;
	width: 352px;
	min-height: 27px;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
}

#u3550
{
	z-index: 61;
	width: 352px;
	min-height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u3542-5
{
	z-index: 37;
	width: 352px;
	min-height: 31px;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
}

#u3552
{
	z-index: 62;
	width: 352px;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
}

#u3541-5
{
	z-index: 32;
	width: 326px;
	min-height: 20px;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
}

#u3554
{
	z-index: 64;
	width: 352px;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
}

#u3543-5
{
	z-index: 42;
	width: 343px;
	min-height: 20px;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
}

#u3556
{
	z-index: 66;
	width: 352px;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
}

#u3544-5
{
	z-index: 47;
	width: 352px;
	min-height: 29px;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
}

#u3558
{
	z-index: 68;
	width: 352px;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
}

#u3545-5
{
	z-index: 52;
	width: 338px;
	min-height: 20px;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
}

#u3539-2,#u3540-2,#u3542-2,#u3541-2,#u3543-2,#u3544-2,#u3545-2
{
	font-size: 12px;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

