.version.apartment_no_1_4 /* version checker */
{
	color: #0000FE;
	background-color: #130E25;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 357px;
	min-height: 463px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 36px 6px 71px 17px;
}

#u3457-4
{
	z-index: 2;
	width: 212px;
	min-height: 35px;
	margin-left: 3px;
}

#u3457-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 212px;
	margin: 0px 0px 0px 3px;
}

#u3460-4
{
	z-index: 14;
	width: 90px;
	min-height: 22px;
	margin-left: 3px;
	margin-top: 20px;
}

#u3460-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px 3px;
}

#u3458-4
{
	z-index: 6;
	width: 90px;
	min-height: 22px;
	margin-left: 3px;
	margin-top: 20px;
}

#u3460-4.MuseLinkActive,#u3458-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px 3px;
}

#u3461-4
{
	z-index: 18;
	width: 90px;
	min-height: 22px;
	margin-left: 3px;
	margin-top: 20px;
}

#u3458-4.MuseLinkActive,#u3461-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px 3px;
}

#u3459-4
{
	z-index: 10;
	width: 90px;
	min-height: 22px;
	margin-left: 3px;
	margin-top: 20px;
}

#u3461-4.MuseLinkActive,#u3459-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px 3px;
}

#u3459-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px 3px;
}

#u3526
{
	z-index: 24;
	width: 353px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u3528-4
{
	z-index: 26;
	width: 356px;
	min-height: 36px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 10px;
	position: relative;
}

#u3534
{
	z-index: 47;
	width: 354px;
	min-height: 199px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
}

#u3529-5
{
	z-index: 30;
	width: 350px;
	min-height: 33px;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

#u3524
{
	z-index: 22;
	width: 355px;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
}

#u3530-5
{
	z-index: 35;
	width: 355px;
	min-height: 31px;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

#u3531
{
	z-index: 40;
	width: 357px;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

#u3533-5
{
	z-index: 42;
	width: 357px;
	min-height: 31px;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

#u3529-2,#u3530-2,#u3533-2
{
	font-size: 12px;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

