.version.imitation /* version checker */
{
	color: #000008;
	background-color: #146E2A;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.5984937238493px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -71px;
	padding-top: 36px;
	width: 0.01px;
}

#u3457-4
{
	z-index: 2;
	width: 212px;
	min-height: 35px;
	margin-left: 20px;
}

#u3457-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 212px;
	margin: 0px 0px 0px 20px;
}

#ppu3460-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 18px;
}

#pu3460-4
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u3460-4
{
	z-index: 14;
	width: 90px;
	min-height: 22px;
}

#u3460-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 0px;
}

#u3460-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 0px;
}

#u3458-4
{
	z-index: 6;
	width: 90px;
	min-height: 22px;
	margin-top: 20px;
}

#u3458-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px;
}

#u3461-4
{
	z-index: 18;
	width: 90px;
	min-height: 22px;
	margin-top: 20px;
}

#u3458-4.MuseLinkActive,#u3461-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px;
}

#u3459-4
{
	z-index: 10;
	width: 90px;
	min-height: 22px;
	margin-top: 20px;
}

#u3461-4.MuseLinkActive,#u3459-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px;
}

#u3459-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px;
}

#u3520
{
	z-index: 37;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 109px;
}

#u3516-4
{
	z-index: 22;
	width: 349px;
	min-height: 42px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 20px;
	margin-top: 8px;
	position: relative;
}

#u3518-4
{
	z-index: 30;
	width: 349px;
	min-height: 79px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 20px;
	margin-top: 7px;
	position: relative;
}

#u3517-4
{
	z-index: 26;
	width: 349px;
	min-height: 33px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 20px;
	margin-top: 8px;
	position: relative;
}

#u3519-3
{
	z-index: 34;
	width: 5px;
	background-color: transparent;
	margin-left: 677px;
	margin-top: 168px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

