@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.5500000000011px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#pu1449
{
	width: 0.01px;
	position: relative;
}

#u1449
{
	z-index: 2;
	width: 109px;
	border-color: #000000;
	background-color: #E0E0E0;
	padding-bottom: 230px;
	position: relative;
	margin-right: -10000px;
	left: 271px;
}

#u1430
{
	z-index: 305;
	width: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 68px;
}

#u1440
{
	z-index: 3;
	width: 271px;
	border-color: #000000;
	background-color: #F6F6F6;
	position: relative;
	margin-right: -10000px;
}

#u1440_position_content
{
	margin-bottom: 102px;
}

#top
{
	position: relative;
}

#accordionu1149
{
	z-index: 57;
	width: 260px;
	margin-left: 11px;
	margin-top: 63px;
	position: relative;
}

#u1158
{
	z-index: 58;
	width: 260px;
	position: relative;
}

#u1159-4
{
	z-index: 59;
	width: 250px;
	min-height: 15px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1159-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	margin: 0px;
}

#u1159-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	margin: 0px;
}

#u1159-4.AccordionPanelTabOpen
{
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	margin: 0px;
}

#u1160
{
	z-index: 63;
	width: 250px;
	margin-left: 10px;
	margin-bottom: 1px;
	position: relative;
}

#u1161-8
{
	z-index: 64;
	width: 250px;
	min-height: 35px;
	line-height: 21px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u1150
{
	z-index: 72;
	width: 260px;
	position: relative;
}

#u1153-4
{
	z-index: 73;
	width: 250px;
	min-height: 14px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1153-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u1153-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u1151
{
	z-index: 77;
	width: 134px;
	margin-left: 10px;
	position: relative;
}

#u1152-5
{
	z-index: 78;
	width: 134px;
	min-height: 27px;
	line-height: 21px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u1152
{
	font-size: 15px;
	line-height: 23px;
}

#u1154
{
	z-index: 83;
	width: 260px;
	position: relative;
}

#u1157-4
{
	z-index: 84;
	width: 250px;
	min-height: 14px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1157-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u1157-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u1153-4.AccordionPanelTabOpen,#u1157-4.AccordionPanelTabOpen
{
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u1159-4.AccordionPanelTabOpen p,#u1153-4.AccordionPanelTabOpen p,#u1157-4.AccordionPanelTabOpen p
{
	color: #000000;
	visibility: inherit;
}

#u1155
{
	z-index: 88;
	width: 228px;
	margin-left: 10px;
	margin-bottom: 24px;
	position: relative;
}

#u1156-14
{
	z-index: 89;
	width: 228px;
	min-height: 80px;
	line-height: 21px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u1161,#u1161-4,#u1156,#u1156-4,#u1156-7,#u1156-10
{
	font-size: 16px;
	line-height: 24px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u1435
{
	z-index: 307;
	width: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 22px;
}

#u1448-4
{
	z-index: 333;
	width: 141px;
	min-height: 28px;
	line-height: 22px;
	font-size: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 19px;
}

#untitled
{
	margin-left: 52px;
	margin-top: 51px;
	position: relative;
}

#u1176-4
{
	z-index: 109;
	width: 124px;
	min-height: 31px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 128px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1129-4
{
	z-index: 25;
	width: 258px;
	min-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	margin-left: 61px;
	margin-top: 35px;
	position: relative;
}

#u1128
{
	z-index: 24;
	width: 234px;
	height: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 73px;
	margin-top: 5px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u1119-8
{
	z-index: 4;
	width: 343px;
	min-height: 68px;
	margin-left: 20px;
	margin-top: 15px;
	position: relative;
}

#u1161-3,#u1161-6,#u1152-3,#u1156-3,#u1156-6,#u1156-9,#u1156-12,#u1119-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1119-2,#u1119-3,#u1119-4
{
	font-size: 12px;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1119-5
{
	line-height: 17px;
}

#u1120
{
	z-index: 12;
	width: 380px;
	margin-left: 1px;
	margin-top: 15px;
	position: relative;
}

#u1124-4
{
	z-index: 16;
	width: 221px;
	min-height: 4px;
	text-align: center;
	font-size: 10px;
	line-height: 12px;
	font-style: italic;
	margin-left: 74px;
	margin-top: 6px;
	position: relative;
}

#u1122
{
	z-index: 14;
	width: 380px;
	margin-left: 1px;
	margin-top: 41px;
	position: relative;
}

#u1122_img
{
	padding-right: 1px;
}

#u1125-4
{
	z-index: 20;
	width: 337px;
	min-height: 4px;
	text-align: center;
	font-size: 10px;
	line-height: 12px;
	font-style: italic;
	margin-left: 22px;
	margin-top: 5px;
	position: relative;
}

#u1442-4
{
	z-index: 309;
	width: 35px;
	min-height: 13px;
	text-align: center;
	line-height: 14px;
	font-size: 12px;
	color: #7F7F7F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-left: 334px;
	margin-top: 34px;
	position: relative;
}

#synesthesia
{
	margin-left: 111px;
	margin-top: 11px;
	position: relative;
}

#u1146-4
{
	z-index: 51;
	width: 258px;
	min-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	margin-left: 60px;
	position: relative;
}

#u1145
{
	z-index: 50;
	width: 234px;
	height: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 72px;
	margin-top: 5px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u1130
{
	z-index: 29;
	width: 379px;
	min-height: 257px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 15px;
	position: relative;
}

#u1132-12
{
	z-index: 30;
	width: 345px;
	min-height: 148px;
	line-height: 14px;
	font-size: 12px;
	color: #000000;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: normal;
	margin-left: 15px;
	margin-top: 12px;
	position: relative;
}

#u1132-2
{
	font-weight: bold;
}

#u1133
{
	z-index: 42;
	width: 380px;
	margin-left: 1px;
	margin-top: 21px;
	position: relative;
}

#u1135
{
	z-index: 44;
	width: 380px;
	margin-left: 1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1139
{
	z-index: 48;
	width: 380px;
	margin-left: 1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1137
{
	z-index: 46;
	width: 380px;
	margin-left: 1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1443-4
{
	z-index: 313;
	width: 35px;
	min-height: 13px;
	text-align: center;
	line-height: 14px;
	font-size: 12px;
	color: #7F7F7F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-left: 334px;
	margin-top: 24px;
	position: relative;
}

#margraue
{
	margin-left: 62px;
	position: relative;
}

#u1179-4
{
	z-index: 118;
	width: 124px;
	min-height: 31px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 128px;
	position: relative;
}

#u1178-4
{
	z-index: 114;
	width: 93px;
	min-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	margin-left: 143px;
	margin-top: 34px;
	position: relative;
}

#u1177
{
	z-index: 113;
	width: 234px;
	height: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 73px;
	margin-top: 6px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u1174
{
	z-index: 108;
	width: 380px;
	min-height: 246px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-left: 1px;
	margin-top: 26px;
}

#u1173-5
{
	z-index: 103;
	width: 358px;
	min-height: 33px;
	margin-left: 11px;
	margin-top: 14px;
	position: relative;
}

#u1230-4
{
	z-index: 177;
	width: 57px;
	min-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 170px;
	margin-top: 12px;
	position: relative;
}

#u1229-8
{
	z-index: 169;
	width: 358px;
	min-height: 73px;
	text-align: center;
	font-size: 10px;
	line-height: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 11px;
	margin-top: 10px;
	position: relative;
}

#u1181
{
	z-index: 123;
	width: 380px;
	margin-left: 1px;
	margin-top: 19px;
	position: relative;
}

#u1444-4
{
	z-index: 317;
	width: 35px;
	min-height: 13px;
	text-align: center;
	line-height: 14px;
	font-size: 12px;
	color: #7F7F7F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-left: 332px;
	margin-top: 29px;
	position: relative;
}

#imitationmovinggaze
{
	margin-left: 91px;
	margin-top: 39px;
	position: relative;
}

#u1209-4
{
	z-index: 130;
	width: 124px;
	min-height: 31px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 127px;
	margin-top: 2px;
	position: relative;
}

#u1208-4
{
	z-index: 126;
	width: 196px;
	min-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	margin-left: 91px;
	margin-top: 41px;
	position: relative;
}

#u1207
{
	z-index: 125;
	width: 234px;
	height: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 72px;
	margin-top: 7px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u1210
{
	z-index: 134;
	width: 380px;
	margin-left: 1px;
	margin-top: 19px;
	position: relative;
}

#u1212
{
	z-index: 136;
	width: 380px;
	margin-left: 1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1212_clip
{
	overflow: hidden;
	width: 380px;
	height: 271px;
}

#u1212_img
{
	margin-left: -3px;
}

#u1214-4
{
	z-index: 138;
	width: 352px;
	min-height: 25px;
	text-align: center;
	font-size: 10px;
	line-height: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 13px;
	margin-top: 9px;
	position: relative;
}

#u1216-4
{
	z-index: 148;
	width: 56px;
	min-height: 15px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 161px;
	margin-top: 31px;
	position: relative;
}

#u1215-6
{
	z-index: 142;
	width: 352px;
	min-height: 33px;
	text-align: center;
	font-size: 10px;
	line-height: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 13px;
	margin-top: 6px;
	position: relative;
}

#u1220
{
	z-index: 154;
	width: 309px;
	height: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 35px;
	margin-top: 31px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u1218
{
	z-index: 152;
	width: 380px;
	margin-left: 1px;
	margin-top: 17px;
	position: relative;
}

#u1221-4
{
	z-index: 155;
	width: 352px;
	min-height: 17px;
	text-align: center;
	font-size: 10px;
	line-height: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 13px;
	margin-top: 7px;
	position: relative;
}

#u1224-4
{
	z-index: 165;
	width: 56px;
	min-height: 15px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 161px;
	margin-top: 23px;
	position: relative;
}

#u1223-6
{
	z-index: 159;
	width: 360px;
	min-height: 45px;
	text-align: center;
	font-size: 10px;
	line-height: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 13px;
	margin-top: 4px;
	position: relative;
}

#u1445-4
{
	z-index: 321;
	width: 35px;
	min-height: 13px;
	text-align: center;
	line-height: 14px;
	font-size: 12px;
	color: #7F7F7F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-left: 330px;
	margin-top: 26px;
	position: relative;
}

#apartmentno.1-3
{
	margin-left: 76px;
	position: relative;
}

#u1275-4
{
	z-index: 204;
	width: 196px;
	min-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	margin-left: 95px;
	margin-top: 8px;
	position: relative;
}

#u1274
{
	z-index: 203;
	width: 234px;
	height: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 76px;
	margin-top: 7px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u1248
{
	z-index: 186;
	width: 380px;
	margin-left: 1px;
	margin-top: 32px;
	position: relative;
}

#u1248_clip
{
	overflow: hidden;
	width: 380px;
	height: 215px;
}

#u1250-5
{
	z-index: 188;
	width: 364px;
	min-height: 21px;
	margin-left: 9px;
	margin-top: 9px;
	position: relative;
}

#u1276
{
	z-index: 208;
	width: 234px;
	height: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 76px;
	margin-top: 16px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u1246
{
	z-index: 184;
	width: 380px;
	margin-top: 35px;
	position: relative;
}

#u1251-5
{
	z-index: 193;
	width: 364px;
	min-height: 20px;
	margin-left: 9px;
	margin-top: 8px;
	position: relative;
}

#u1277
{
	z-index: 209;
	width: 234px;
	height: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 90px;
	margin-top: 10px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u1244
{
	z-index: 182;
	width: 380px;
	margin-left: 1px;
	margin-top: 42px;
	position: relative;
}

#u1252-5
{
	z-index: 198;
	width: 368px;
	min-height: 20px;
	margin-left: 5px;
	margin-top: 6px;
	position: relative;
}

#u1446-4
{
	z-index: 325;
	width: 35px;
	min-height: 13px;
	text-align: center;
	line-height: 14px;
	font-size: 12px;
	color: #7F7F7F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-left: 331px;
	margin-top: 19px;
	position: relative;
}

#andtime
{
	margin-left: 63px;
	position: relative;
}

#u1337-4
{
	z-index: 262;
	width: 196px;
	min-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	margin-left: 91px;
	margin-top: 7px;
	position: relative;
}

#u1336
{
	z-index: 261;
	width: 234px;
	height: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 72px;
	margin-top: 7px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u1310
{
	z-index: 248;
	width: 380px;
	margin-top: 22px;
	position: relative;
}

#u1303-5
{
	z-index: 211;
	width: 326px;
	min-height: 20px;
	margin-left: 27px;
	margin-top: 7px;
	position: relative;
}

#u1350
{
	z-index: 266;
	width: 234px;
	height: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 72px;
	margin-top: 9px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u1312
{
	z-index: 250;
	width: 380px;
	margin-left: 1px;
	margin-top: 33px;
	position: relative;
}

#u1304-7
{
	z-index: 216;
	width: 353px;
	min-height: 20px;
	margin-left: 13px;
	margin-top: 8px;
	position: relative;
}

#u1355
{
	z-index: 267;
	width: 234px;
	height: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 72px;
	margin-top: 1px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u1314
{
	z-index: 252;
	width: 380px;
	min-height: 277px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-left: 1px;
	margin-top: 28px;
}

#u1306-5
{
	z-index: 228;
	width: 353px;
	min-height: 20px;
	margin-left: 13px;
	margin-top: 11px;
	position: relative;
}

#u1360
{
	z-index: 268;
	width: 234px;
	height: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 72px;
	margin-top: 7px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u1316
{
	z-index: 253;
	width: 380px;
	margin-left: 1px;
	margin-top: 31px;
	position: relative;
}

#u1316_clip
{
	overflow: hidden;
	width: 380px;
	height: 214px;
}

#u1248_img,#u1316_img
{
	margin-right: -1px;
}

#u1305-5
{
	z-index: 223;
	width: 353px;
	min-height: 20px;
	margin-left: 13px;
	margin-top: 11px;
	position: relative;
}

#u1373
{
	z-index: 269;
	width: 234px;
	height: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 72px;
	margin-top: 7px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u1318
{
	z-index: 255;
	width: 380px;
	margin-top: 31px;
	position: relative;
}

#u1307-5
{
	z-index: 233;
	width: 343px;
	min-height: 20px;
	margin-left: 20px;
	margin-top: 9px;
	position: relative;
}

#u1374
{
	z-index: 270;
	width: 234px;
	height: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 83px;
	margin-top: 6px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u1320
{
	z-index: 257;
	width: 380px;
	margin-left: 1px;
	margin-top: 34px;
	position: relative;
}

#u1308-5
{
	z-index: 238;
	width: 362px;
	min-height: 20px;
	margin-left: 9px;
	margin-top: 9px;
	position: relative;
}

#u1375
{
	z-index: 271;
	width: 234px;
	height: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 76px;
	margin-top: 7px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u1322
{
	z-index: 259;
	width: 380px;
	margin-left: 1px;
	margin-top: 39px;
	position: relative;
}

#u1309-5
{
	z-index: 243;
	width: 338px;
	min-height: 20px;
	margin-left: 21px;
	margin-top: 9px;
	position: relative;
}

#u1447-4
{
	z-index: 329;
	width: 35px;
	min-height: 13px;
	text-align: center;
	line-height: 14px;
	font-size: 12px;
	color: #7F7F7F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-left: 330px;
	margin-top: 20px;
	position: relative;
}

#fromsoundtosun
{
	margin-left: 62px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u1385-4
{
	z-index: 299;
	width: 196px;
	min-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	margin-left: 92px;
	margin-top: 7px;
	position: relative;
}

#u1384
{
	z-index: 298;
	width: 234px;
	height: 7px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 73px;
	margin-top: 7px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u1376
{
	z-index: 272;
	width: 380px;
	min-height: 251px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-left: 1px;
	margin-top: 13px;
}

#u1378-5
{
	z-index: 273;
	width: 358px;
	min-height: 31px;
	margin-left: 10px;
	margin-top: 8px;
	position: relative;
}

#u1173-2,#u1250-2,#u1251-2,#u1252-2,#u1303-2,#u1304-2,#u1304-4,#u1306-2,#u1305-2,#u1307-2,#u1308-2,#u1309-2,#u1378-2
{
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1381-4
{
	z-index: 288;
	width: 57px;
	min-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 160px;
	margin-top: 15px;
	position: relative;
}

#u1382-5
{
	z-index: 292;
	width: 338px;
	min-height: 41px;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-left: 21px;
	margin-top: 3px;
	position: relative;
}

#u1382
{
	font-size: 12px;
	font-style: italic;
}

#u1382-2
{
	font-size: 12px;
	font-style: normal;
}

#u1380-4
{
	z-index: 284;
	width: 57px;
	min-height: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 160px;
	margin-top: 19px;
	position: relative;
}

#u1379-6
{
	z-index: 278;
	width: 317px;
	min-height: 31px;
	text-align: center;
	font-size: 10px;
	line-height: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 30px;
	margin-top: 5px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

