.version.index /* version checker */
{
	color: #0000FE;
	background-color: #BE9996;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 915.9500000000002px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-bottom: 1px;
	width: 0.01px;
}

#pu2910
{
	width: 0.01px;
}

#u2910
{
	z-index: 2;
	min-height: 60px;
	padding: 21px 81px 8px 86px;
}

#u2904-4
{
	z-index: 4;
	width: 213px;
	min-height: 35px;
}

#u2905-4
{
	z-index: 8;
	width: 119px;
	min-height: 26px;
	margin-left: 50px;
}

#u2910-bw
{
	z-index: 2;
	min-height: 60px;
	margin-bottom: -1px;
}

#u2906
{
	z-index: 12;
	width: 113px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 136px;
}

#u2901-4
{
	z-index: 42;
	width: 211px;
	min-height: 21px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 94px;
	margin-top: 30px;
	position: relative;
}

#ppu3089
{
	width: 0.01px;
	margin-left: 39px;
	margin-top: 11px;
}

#pu3089
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 168px;
}

#u3089
{
	z-index: 28;
	width: 135px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2927-6
{
	z-index: 56;
	width: 100px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 18px;
}

#u2872
{
	z-index: 30;
	width: 135px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2926-6
{
	z-index: 50;
	width: 100px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 20px;
}

#pu3113
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: 35px;
}

#u3113
{
	z-index: 26;
	width: 137px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3113:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	width: 137px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2928-6
{
	z-index: 62;
	width: 100px;
	min-height: 20px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 22px;
}

#u2902-4
{
	z-index: 46;
	width: 103px;
	min-height: 21px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 145px;
	margin-top: 10px;
	position: relative;
}

#ppu3194
{
	width: 0.01px;
	margin-left: 41px;
	margin-top: 26px;
}

#pu3194
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 163px;
}

#u3194
{
	z-index: 100;
	width: 140px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3200-6
{
	z-index: 102;
	width: 100px;
	min-height: 20px;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 20px;
}

#u2875
{
	z-index: 32;
	width: 135px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3089:hover,#u2872:hover,#u2875:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	width: 135px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2875_clip
{
	overflow: hidden;
	width: 135px;
	height: 100px;
}

#u2875_img
{
	margin-left: -14px;
}

#u2936-6
{
	z-index: 76;
	width: 100px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 17px;
}

#ppu2880
{
	width: 0.01px;
	margin-left: 38px;
	margin-top: 26px;
}

#u2880
{
	z-index: 34;
	width: 139px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2937-6
{
	z-index: 82;
	width: 100px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 21px;
}

#u2882
{
	z-index: 36;
	width: 139px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2882_clip
{
	overflow: hidden;
	width: 139px;
	height: 104px;
}

#u2882_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u2935-8
{
	z-index: 68;
	width: 101px;
	min-height: 20px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 19px;
}

#u2935-2
{
	color: #000000;
}

#u2935-4,#u2935-6
{
	color: #FFFFFF;
}

#ppu2887
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: 25px;
}

#pu2880,#pu2887
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 167px;
}

#u2887
{
	z-index: 40;
	width: 140px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3194:hover,#u2887:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	width: 140px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2938-6
{
	z-index: 88;
	width: 104px;
	min-height: 29px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 18px;
}

#u2885
{
	z-index: 38;
	width: 139px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2880:hover,#u2882:hover,#u2885:hover
{
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	width: 139px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2939-6
{
	z-index: 94;
	width: 100px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 22px;
}

#u2903
{
	z-index: 3;
	min-height: 35px;
	padding-bottom: 13px;
}

#u2908-4
{
	z-index: 18;
	width: 86px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 38px;
}

#u2907-5
{
	z-index: 13;
	width: 40px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 188px;
}

#u2909-4
{
	z-index: 22;
	width: 43px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 292px;
}

#u2903-bw
{
	z-index: 3;
	min-height: 35px;
	margin-top: 60px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

