.version.love__dear_love /* version checker */
{
	color: #0000F6;
	background-color: #250B8A;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 350px;
	min-height: 425.51905209948364px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 36px 10px 108.48094790051636px 20px;
}

#u3457-4
{
	z-index: 2;
	width: 212px;
	min-height: 35px;
}

#u3457-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 212px;
	margin: 0px;
}

#ppu3460-4
{
	width: 0.01px;
	margin-top: 18px;
}

#pu3460-4
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u3460-4
{
	z-index: 14;
	width: 90px;
	min-height: 22px;
}

#u3460-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 0px;
}

#u3460-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 0px;
}

#u3458-4
{
	z-index: 6;
	width: 90px;
	min-height: 22px;
	margin-top: 20px;
}

#u3458-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px;
}

#u3461-4
{
	z-index: 18;
	width: 90px;
	min-height: 22px;
	margin-top: 20px;
}

#u3458-4.MuseLinkActive,#u3461-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px;
}

#u3459-4
{
	z-index: 10;
	width: 90px;
	min-height: 22px;
	margin-top: 20px;
}

#u3461-4.MuseLinkActive,#u3459-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px;
}

#u3459-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px;
}

#u3495
{
	z-index: 22;
	width: 250px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u3497-21
{
	z-index: 24;
	width: 350px;
	min-height: 214px;
	background-color: transparent;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 8px;
	position: relative;
}

#u3497,#u3497-3,#u3497-5
{
	font-style: italic;
}

#u3497-15
{
	text-align: left;
}

#u3497-7,#u3497-8,#u3497-10,#u3497-11,#u3497-13,#u3497-17,#u3497-19
{
	text-align: justify;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

