.version.lullaby_of_memories /* version checker */
{
	color: #00000B;
	background-color: #E0C745;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 900px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 1px;
}

#pu2910
{
	width: 0.01px;
	margin-right: -10000px;
}

#u2910
{
	z-index: 2;
	min-height: 60px;
	padding: 21px 81px 8px 86px;
}

#u2904-4
{
	z-index: 4;
	width: 213px;
	min-height: 35px;
}

#u2905-4
{
	z-index: 8;
	width: 119px;
	min-height: 26px;
	margin-left: 50px;
}

#u2910-bw
{
	z-index: 2;
	min-height: 60px;
	margin-bottom: -1px;
}

#u2906
{
	z-index: 12;
	width: 113px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 136px;
}

#u2903
{
	z-index: 3;
	min-height: 35px;
	padding-bottom: 13px;
}

#u2908-4
{
	z-index: 17;
	width: 86px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 38px;
}

#u2907-4
{
	z-index: 13;
	width: 40px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 188px;
}

#u2909-4
{
	z-index: 21;
	width: 43px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 292px;
}

#u2903-bw
{
	z-index: 3;
	min-height: 35px;
	margin-top: 851px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -851px;
}

