.version.margraue /* version checker */
{
	color: #000014;
	background-color: #9C141B;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1266.9500000000003px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-bottom: 1px;
	width: 0.01px;
}

#pu2910
{
	width: 0.01px;
}

#u2910
{
	z-index: 2;
	min-height: 60px;
	padding: 21px 81px 8px 86px;
}

#u2904-4
{
	z-index: 4;
	width: 213px;
	min-height: 35px;
}

#u2905-4
{
	z-index: 8;
	width: 119px;
	min-height: 26px;
	margin-left: 50px;
}

#u2910-bw
{
	z-index: 2;
	min-height: 60px;
	margin-bottom: -1px;
}

#u2906
{
	z-index: 12;
	width: 113px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 136px;
}

#u3033-4
{
	z-index: 40;
	width: 253px;
	min-height: 20px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 69px;
	margin-top: 20px;
	position: relative;
}

#u3034
{
	z-index: 44;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u3034-bw
{
	z-index: 44;
	margin-top: 13px;
}

#u3031
{
	z-index: 39;
	width: 348px;
	min-height: 229px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 15px;
	margin-top: 16px;
	position: relative;
}

#u3030-5
{
	z-index: 34;
	width: 348px;
	min-height: 37px;
	background-color: transparent;
	margin-left: 15px;
	margin-top: 4px;
	position: relative;
}

#u3030-2
{
	font-size: 12px;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u3035-5
{
	z-index: 45;
	width: 348px;
	min-height: 150px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 15px;
	margin-top: 10px;
	position: relative;
}

#u3035
{
	font-style: italic;
}

#u3036
{
	z-index: 50;
	width: 348px;
	background-color: transparent;
	margin-left: 15px;
	margin-top: 22px;
	position: relative;
}

#u3029-8
{
	z-index: 26;
	width: 348px;
	min-height: 161px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 15px;
	margin-top: 17px;
	position: relative;
}

#u2903
{
	z-index: 3;
	min-height: 35px;
	padding-bottom: 13px;
}

#u2908-4
{
	z-index: 18;
	width: 86px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 38px;
}

#u2907-5
{
	z-index: 13;
	width: 40px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 188px;
}

#u2909-4
{
	z-index: 22;
	width: 43px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 292px;
}

#u2903-bw
{
	z-index: 3;
	min-height: 35px;
	margin-top: 107px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

