#u3457-4
{
	background-color: transparent;
	line-height: 26px;
	color: #575757;
	text-align: left;
	font-size: 22px;
	letter-spacing: 2px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u3460-4
{
	background-color: transparent;
	color: #575757;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u3457-4:hover p,#u3457-4:hover h1,#u3460-4:hover p,#u3460-4:hover h2,#u3460-4.MuseLinkActive p,#u3460-4.MuseLinkActive h2
{
	color: #000000;
	visibility: inherit;
}

#u3458-4
{
	background-color: transparent;
	color: #575757;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u3458-4:hover p,#u3458-4:hover h2,#u3458-4.MuseLinkActive p,#u3458-4.MuseLinkActive h2
{
	color: #000000;
	visibility: inherit;
}

#u3461-4
{
	background-color: transparent;
	color: #575757;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u3461-4:hover p,#u3461-4:hover h2,#u3461-4.MuseLinkActive p,#u3461-4.MuseLinkActive h2
{
	color: #000000;
	visibility: inherit;
}

#u3459-4
{
	background-color: transparent;
	color: #575757;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u3459-4:hover p,#u3459-4:hover h2,#u3459-4.MuseLinkActive p,#u3459-4.MuseLinkActive h2
{
	color: #000000;
	visibility: inherit;
}

