#u907
{
	border-color: #000000;
	background-color: #F6F6F6;
	position: relative;
}

#u908-4
{
	line-height: 22px;
	font-size: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

