#u2910
{
	border-style: solid;
	border-color: #000000;
	background-color: #F6F6F6;
	border-width: 0px 0px 1px;
}

#u2904-4
{
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2905-4
{
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
}

#u2906
{
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	border-width: 1px 0px 0px;
}

#u2903
{
	border-style: solid;
	border-color: #000000;
	background-color: #F6F6F6;
	border-width: 1px 0px 0px;
}

#u2908-4,#u2907-5,#u2909-4
{
	background-color: transparent;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

