#u3449
{
	background-color: transparent;
	position: relative;
}

#u3451-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 26px;
	text-align: left;
	font-size: 22px;
	letter-spacing: 2px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u3452-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u3453-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u3454-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u3455-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u3451-4:hover p,#u3451-4:hover h1,#u3452-4:hover p,#u3452-4:hover h2,#u3453-4:hover p,#u3453-4:hover h2,#u3454-4:hover p,#u3454-4:hover h2,#u3455-4:hover p,#u3455-4:hover h2
{
	color: #000000;
	visibility: inherit;
}

