.version.projects /* version checker */
{
	color: #000005;
	background-color: #084DDF;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 406.50096707831966px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-left: 20px;
	padding-top: 36px;
	padding-bottom: 127.49903292168034px;
}

#u3457-4
{
	z-index: 2;
	width: 212px;
	min-height: 35px;
}

#u3457-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 212px;
	margin: 0px;
}

#pu3460-4
{
	width: 0.01px;
	margin-top: 19px;
}

#u3460-4
{
	z-index: 14;
	width: 90px;
	min-height: 22px;
	margin-right: -10000px;
}

#u3460-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3460-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3467-4
{
	z-index: 46;
	width: 233px;
	min-height: 24px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 127px;
}

#pu3458-4
{
	width: 0.01px;
	margin-top: 14px;
}

#u3458-4
{
	z-index: 6;
	width: 90px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u3458-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 5px -10000px 0px 0px;
}

#u3458-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 5px -10000px 0px 0px;
}

#u3468-5
{
	z-index: 50;
	width: 183px;
	min-height: 23px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u3468-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 183px;
	margin: 0px -10000px 0px 0px;
}

#u3469-5
{
	z-index: 55;
	width: 183px;
	min-height: 23px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 126px;
	margin-top: 3px;
	position: relative;
}

#u3469-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 183px;
	margin: 3px 0px 0px 126px;
}

#u3461-4
{
	z-index: 18;
	width: 90px;
	min-height: 22px;
	top: -6px;
	margin-bottom: -6px;
}

#u3461-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 0px 0px -6px;
}

#u3461-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 0px 0px -6px;
}

#u3470-5
{
	z-index: 60;
	width: 157px;
	min-height: 23px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 126px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#u3470-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 157px;
	margin: 0px 0px -8px 126px;
}

#u3459-4
{
	z-index: 10;
	width: 90px;
	min-height: 22px;
	margin-top: 5px;
}

#u3459-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 5px 0px 0px;
}

#u3459-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 5px 0px 0px;
}

#u3462-4
{
	z-index: 22;
	width: 103px;
	min-height: 21px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 126px;
	margin-top: 2px;
	position: relative;
}

#u3471-5
{
	z-index: 65;
	width: 175px;
	min-height: 23px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 126px;
	margin-top: 14px;
	position: relative;
}

#u3471-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 175px;
	margin: 14px 0px 0px 126px;
}

#u3464-5
{
	z-index: 31;
	width: 137px;
	min-height: 23px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 126px;
	margin-top: 14px;
	position: relative;
}

#u3464-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 137px;
	margin: 14px 0px 0px 126px;
}

#u3466-5
{
	z-index: 41;
	width: 217px;
	min-height: 21px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 126px;
	margin-top: 14px;
	position: relative;
}

#u3466-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 217px;
	margin: 14px 0px 0px 126px;
}

#u3465-5
{
	z-index: 36;
	width: 175px;
	min-height: 21px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 127px;
	margin-top: 13px;
	position: relative;
}

#u3465-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 175px;
	margin: 13px 0px 0px 127px;
}

#u3463-5
{
	z-index: 26;
	width: 136px;
	min-height: 23px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 127px;
	margin-top: 14px;
	position: relative;
}

#u3463-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 136px;
	margin: 14px 0px 0px 127px;
}

#u3468-5:hover p,#u3468-5:hover h3,#u3468-5:hover span,#u3469-5:hover p,#u3469-5:hover h3,#u3469-5:hover span,#u3470-5:hover p,#u3470-5:hover h3,#u3470-5:hover span,#u3471-5:hover p,#u3471-5:hover h3,#u3471-5:hover span,#u3464-5:hover p,#u3464-5:hover h3,#u3464-5:hover span,#u3466-5:hover p,#u3466-5:hover h3,#u3466-5:hover span,#u3465-5:hover p,#u3465-5:hover h3,#u3465-5:hover span,#u3463-5:hover p,#u3463-5:hover h3,#u3463-5:hover span
{
	color: #A9A9A9;
	visibility: inherit;
}

#u3468-3,#u3469-3,#u3470-3,#u3471-3,#u3464-3,#u3466-3,#u3465-3,#u3463-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3468,#u3469,#u3470,#u3471,#u3464,#u3466,#u3465,#u3463
{
	line-height: 17px;
}

#u3468-2,#u3469-2,#u3470-2,#u3471-2,#u3464-2,#u3466-2,#u3465-2,#u3463-2
{
	font-size: 12px;
	line-height: 14px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

