.version.synesthesia /* version checker */
{
	color: #0000F7;
	background-color: #F5A543;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 350px;
	min-height: 463px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 36px 10px 71px 20px;
}

#u3457-4
{
	z-index: 2;
	width: 212px;
	min-height: 35px;
}

#u3457-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 212px;
	margin: 0px;
}

#ppu3460-4
{
	width: 0.01px;
	margin-top: 19px;
}

#pu3460-4
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u3460-4
{
	z-index: 14;
	width: 90px;
	min-height: 22px;
}

#u3460-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 0px;
}

#u3460-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 0px;
}

#u3458-4
{
	z-index: 6;
	width: 90px;
	min-height: 22px;
	margin-top: 20px;
}

#u3458-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px;
}

#u3461-4
{
	z-index: 18;
	width: 90px;
	min-height: 22px;
	margin-top: 20px;
}

#u3458-4.MuseLinkActive,#u3461-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px;
}

#u3459-4
{
	z-index: 10;
	width: 90px;
	min-height: 22px;
	margin-top: 20px;
}

#u3461-4.MuseLinkActive,#u3459-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px;
}

#u3459-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px;
}

#u3505
{
	z-index: 22;
	width: 240px;
	min-height: 156px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#u3507-11
{
	z-index: 23;
	width: 350px;
	min-height: 192px;
	background-color: transparent;
	text-align: justify;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 14px;
	position: relative;
}

#u3507
{
	font-style: italic;
}

#u3508
{
	z-index: 34;
	width: 113px;
	background-color: transparent;
	margin-left: 118px;
	margin-top: 18px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

