.version.view /* version checker */
{
	color: #000005;
	background-color: #6C1AD1;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 328px;
	min-height: 457.7984937238493px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding: 36px 32px 76.20150627615072px 20px;
}

#u3457-4
{
	z-index: 2;
	width: 212px;
	min-height: 35px;
}

#u3457-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 212px;
	margin: 0px;
}

#pu3460-4
{
	width: 0.01px;
	margin-top: 17px;
}

#u3460-4
{
	z-index: 14;
	width: 90px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u3460-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 2px -10000px 0px 0px;
}

#u3460-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 2px -10000px 0px 0px;
}

#u3480-4
{
	z-index: 22;
	width: 198px;
	min-height: 24px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#pu3458-4
{
	width: 0.01px;
	margin-top: 15px;
}

#u3458-4
{
	z-index: 6;
	width: 90px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u3458-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 5px -10000px 0px 0px;
}

#u3458-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 5px -10000px 0px 0px;
}

#u3481-4
{
	z-index: 26;
	width: 49px;
	min-height: 25px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#u3481-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u3481-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u3461-4
{
	z-index: 18;
	width: 90px;
	min-height: 22px;
	margin-top: 20px;
}

#u3461-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px;
}

#u3461-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 20px 0px 0px;
}

#u3482-4
{
	z-index: 30;
	width: 139px;
	min-height: 21px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 110px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#pu3459-4
{
	width: 0.01px;
	margin-top: 3px;
}

#u3459-4
{
	z-index: 10;
	width: 90px;
	min-height: 22px;
	margin-right: -10000px;
}

#u3459-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3459-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u3485-5
{
	z-index: 62;
	width: 162px;
	min-height: 22px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 110px;
}

#u3483-14
{
	z-index: 34;
	width: 218px;
	min-height: 89px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 110px;
	margin-top: 7px;
	position: relative;
}

#u3486-5
{
	z-index: 67;
	width: 218px;
	min-height: 22px;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 110px;
	margin-top: 30px;
	position: relative;
}

#u3485,#u3486
{
	font-style: italic;
}

#u3486-2
{
	font-style: normal;
}

#u3484-14
{
	z-index: 48;
	width: 218px;
	min-height: 89px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 110px;
	margin-top: 6px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

